[2017-09-11 09:15] shonjord commented on #413
Hi @thinkingserious

My PR #427 is just a proposal and my idea is to help to make the library better, you can borrow all the ideas from that PR to include your refactoring (if needed), following your suggestion to review the use cases, here are my thoughts:

I see that we don't use `Subject` object any more, may I ask why?, I think we should keep it, since we may want to encapsulate more logic in

[2017-09-11 11:46] WadeShuler commented on #413
The biggest issue with the old way, was lack of ability to bulk send. We were left with handling the splitting of batches ourselves.

This issue doesn't solve that, and seems like a waste of time. We are just putting lipstick on a pig here...

Most uses of a service like SendGrid, besides for sending transactional "your password reset link" or "thank you for registering", is to send an email to yo

[2017-09-11 11:51] shonjord commented on #413
@WadeShuler As you said, the responsibility of this library is not to send bulk e-mails, that should be handled by `SendGrid's Api` which is totally out of scope for this library.

[2017-09-11 12:19] WadeShuler commented on #413
@shonjord I never said it wasn't the responsibility of this library. This library's responsibility is to handle the app to the SG server. Since the server handles only 1000, that makes it this library's responsibility to fill in the gap.

Every single website has the need to send emails to their entire system. There must be an easier way to do it. Failing to adhere to this will result in people us

[2017-09-11 12:24] shonjord commented on #413
@WadeShuler I don't agree with you, why would the responsibility of this library to handle `n` amount of e-mails?, it doesn't make any sense.

Your Application should be able to manage the amount of e-mails it needs to send, not this library, this library should be use to `construct` an `e-mail` object and send it, if you need to send bulk then that's your Application's concern my friend, not this

[2017-09-11 13:27] WadeShuler commented on #413
Because SendGrid is a bulk email service. Because looping and sending 10,000 times over and over again is inefficient. Because the SendGrid API supports bulk/batch sending, hence the "batch id". Because their competition does!

[https://sendgrid.com/docs/Glossary/bulk_email_service.html](https://sendgrid.com/docs/Glossary/bulk_email_service.html)

It is a bulk email service, not a "less than 1,000

[2017-09-11 15:00] shonjord commented on #413
I think you totally missed out my point, the library at the moment has an option to add multiple recipients, and its responsibility should be simple, to be able to communicate with `SendGrid's API`, that's it, you can add as many recipients as you want in the `Mailer` class, let's say a million, but if `SendGrid's API` can't handle it, that's a different story, and again, not responsibility of the

[2017-09-11 17:59] thinkingserious commented on #413
Thanks for the spirited feedback @WadeShuler and @shonjord, your thoughts will definitely help make this library better!

@WadeShuler,

We do wan't to make sure that sending a bulk of emails is easy by allowing you to get your data into our system without friction. For this iteration, the goal is making the use cases outlined above super simple to execute. The `Send Multiple Emails to Multiple Rec

[2017-09-11 21:09] thinkingserious commented on #413
Hello Everyone!

@caseyw, @vitya1, @Braunson, @cbschuld, @paoga87, @Taluu, @mazanax, @ninsuo, @ianh2, @WadeShuler,  @jaimehing, @KnightAR, @shonjord

The new prototype is [here](https://github.com/sendgrid/sendgrid-php/blob/master/mail-helper-refactor.md) (to hopefully make it easier to collaborate on).

Thanks again to everyone who has spent time contributing. Please let me know if I did not incl

[2017-09-11 21:17] thinkingserious commented on #413
HI @lode,

Just hoping you had some feedback :)

[2017-09-12 09:51] shonjord commented on #413
@thinkingserious

Everything looks better to me 👍

Regarding the multiple `reply to` feature, should I post it here?, this feature is very important for us.

[2017-09-12 13:24] litofunes commented on #250
I needit too, thanks!

[2017-09-12 13:27] thinkingserious commented on #413
@shonjord,

Thanks for the quick feedback!

Please create a new issue for the `reply_to` feature explaining the use case so that I can reference it to our product team.

With Best Regards,

Elmer

[2017-09-12 20:44] thinkingserious commented on #250
Thanks for the votes @NothingSethual, @DimitrisNL and @litofunes!

[2017-09-13 09:39] shonjord opened #428 "Reply to should be a collection of email addresses."
#### Issue Summary

We currently have this flow:

`Person 1` which belongs to the company sends an e-mail with `reply to` (`Person 1`, `Person 2`, `Person 3`... `Person N`) which also belongs to the company to `Person X` (which is not part of the company).

`Person X` replies this e-mail to the listed ones (`Person 1`, `Person 2`, `Person 3`... `Person N`) so in case any of the ones listed in the

[2017-09-13 09:39] shonjord commented on #428
@thinkingserious

[2017-09-13 16:40] thinkingserious commented on #428
Thank you for taking the time to write this out for us!

[2017-09-13 16:42] thinkingserious commented on #428
@shonjord,

In the mean time, as it may take some time for this to rise in the product backlog, how about using a catchall email address that forwards to the relevant parties?

With Best Regards,

Elmer

[2017-09-13 16:59] mbernier commented on #428
I am curious if there is another way to make this work... Sorry if this is a repeat of a question asked previously -

What if you make the "CC" param of the personalization to be `Person 1`, `Person 2`, `Person 3`... `Person N` ? This would have the same net-effect on a reply email, in that the customer's email application should make sure the reply always goes to everyone who is on the email in R

[2017-09-13 21:50] thinkingserious commented on #413
Hello Everyone!

Quick update.

I'm looking for at least two other thumbs up before working any further on the code. As always, your feedback is greatly appreciated :)

With Best Regards,

Elmer

[2017-09-14 08:45] shonjord commented on #428
@ogilliland can you take a look at the suggestion of @thinkingserious ? :) thanks.

[2017-09-14 14:57] ogilliland commented on #428
The catch-all address suggested by @thinkingserious will work as a stopgap measure, but the disadvantage is that it will also fill up the inboxes of people on that mailing list who care about different email chains.

The CC solution on the other hand relies on the recipient clicking "reply-all" instead of just "reply", and takes away our ability to ensure delivery of the reply to all necessary par

[2017-09-14 18:59] shonjord commented on #428
@thinkingserious any thoughts on what @ogilliland said?

[2017-09-14 19:07] thinkingserious commented on #428
@shonjord,

I think you can customize the catch-all addresses in the same way you would customize what emails were included in the multi-reply-all. (e.g. Billing goes to X, Y, Z and Marketing goes to A, B, C, etc.)

[2017-09-14 19:08] thinkingserious commented on #428
Thanks to @ogilliland, for the clarification!

[2017-09-14 21:33] mbernier commented on #428
There is another, more involved, work around. If you wanted to, you use inbound parse to solve this by identifying the recipients of a specific email through a conversation identifier based email address at send time. By setting the reply-to email to something like "[conversation id here]@subdomain.mydomain.com", when someone replies the email is parsed by SendGrid and passed to you as data. Then,

[2017-09-15 13:18] thinkingserious commented on #413
@motdotla, @eddiezane,

If you have a moment, I would appreciate a critical eye on this [proposed new interface](https://github.com/sendgrid/sendgrid-php/blob/master/mail-helper-refactor.md). If not, worries :)

With Best Regards,

Elmer

[2017-09-15 16:28] chrisarusso commented on #288
Hmmm, the implementation that actually just worked for me was:

[code]

[2017-09-15 16:28] motdotla commented on #413
@thinkingserious ! looks really nice man :+1: love the work that has gone on for these repos.

[2017-09-15 16:38] thinkingserious commented on #413
Thanks for the kind words @motdotla and for responding so quickly!

[2017-09-15 22:38] thinkingserious commented on #288
Hi @chrisarusso,

Thanks for the confirmation!

Do you have any thoughts on the [new interface](https://github.com/sendgrid/sendgrid-php/issues/413)?

Thanks!

With Best Regards,

Elmer

[2017-09-19 07:30] kevalsbt opened #429 "How Can I set unsubscribe link while sending email via API"
#### Issue Summary

Basically I would like to set a unsubscribe link under custom text while sending email via API.
Text would be "follow this link to be removed" (on this I want to set unsubscribe link).

I have enabled **Subscription Tracking** function from panel which displays unsubscribe link but I want to have my own link which I can place where I want.

#### I tried following combinations t

[2017-09-19 13:03] ejames17 commented on #264
@LewisTheobald  thanks saved me a few hours of debugging.

[2017-09-19 15:06] shonjord commented on #413
@thinkingserious any news on the beta release?, it might be very helpful to me since I'm working with the current release and it's super hard to for example add a `to collection`, I need to hack a lot.

[2017-09-19 15:20] thinkingserious commented on #413
@shonjord,

I need one more vote to proceed. If you know a PHP developer who is willing to take a look, please ask if they would mind providing some feedback.

With Best Regards,

Elmer

[2017-09-19 15:23] shonjord commented on #413
@thinkingserious It's ok if I tell to one of my colleagues?

[2017-09-20 05:59] thinkingserious commented on #264
@LewisTheobald,

Please take a moment to [fill out this form](https://dx.sendgrid.com/swag) so we can send you some swag :)

With Best Regards,

Elmer

[2017-09-20 06:02] thinkingserious commented on #429
Hello @kevalsbt,

I believe your issue pertains to [this SDK](https://github.com/sendgrid/smtpapi-php). Could you please post your issue there?

Thanks!

With Best Regards,

Elmer

[2017-09-20 06:02] #429 closed

[2017-09-20 09:47] lukeyouell opened #430 "Substitutions not working"
#### Issue Summary

Substitutions are no longer working for transactional emails. Only a few days ago they worked perfectly, nothing has been changed on our end and now they don't work at all.

For example %name% used to output the person's name in the email, now it only outputs "%name%"

#### Steps to Reproduce

1. Send a transactional email with substitutions using the API

#### Technical detail

[2017-09-20 10:51] ruarkferreira commented on #430
Same issue here (well using the Node.js library)

[2017-09-20 11:26] lukeyouell commented on #430
@ruarkferreira I’ve contacted SendGrid who’ve said they’re now investigating

[2017-09-20 11:29] passkey1510 commented on #430
Thanks Sendgrid for breaking your client apps!!!

Furthermore, look at your "helper" to make a substitution and send a transaction email: $sg->client->mail()->send()->post($request_body); Are you serious !??? Couldn't it be more verbose, please???

[2017-09-20 11:34] ruarkferreira commented on #430
Thanks @lukeyouell :) I also logged a ticket but so far no reply :-/ Really annoying as we just had a big campaign run :-/

[2017-09-20 12:40] lukeyouell commented on #430
@ruarkferreira http://status.sendgrid.com/incidents/dvk3z4s7yny4

[2017-09-20 13:46] flamasweb commented on #430
@lukeyouell Same problem here, hope for Sendgrid solution soon.. thank you!

[2017-09-20 13:48] ruarkferreira commented on #430
@flamasweb I hope that solution includes a batch resend of mails that were sent without substitution while this was happening :P

[2017-09-20 14:19] lukeyouell commented on #430
@ruarkferreira they don't store transactional email content, so I doubt it!

[2017-09-20 15:04] flamasweb commented on #430
It seems fixed now...

[2017-09-20 15:07] lukeyouell commented on #430
@ruarkferreira @passkey1510 @flamasweb looks good to me!

[2017-09-20 15:14] lukeyouell commented on #430
"Our Operations team has identified and mitigated the issue affecting substitution values. We apologize for any inconvenience this caused. "

[2017-09-20 18:57] thinkingserious commented on #430
Thanks for the heads up everyone!

[2017-09-20 18:57] #430 closed

[2017-09-21 16:59] mbernier commented on #250
@jlanglais, thank you for the call. If you would like, please go to https://dx.sendgrid.com/swag and we will send you a t-shirt for your time!

[2017-09-26 13:32] lesh3000 opened #432 "for loop multiple emails"
#### Issue Summary
I try to send multiple emails using sendgrid library, it sends HTML emails
The first email is sent. However the following get error 400 if echo $response->status();
Using try-catch block no error is shown

eventually, I am using for loop but for a sake of simplicity I put here simpler example:

require 'sendgrid-php/sendgrid-php.php';
$sendgrid_apiKey = 'XXXXXXXXXXXXXXXXXXXXXXXX

[2017-09-26 17:18] raulp opened #433 "v6 new Mail constructor"
I want to express a possible issue/frustration with the new version.
The Mail class now requires 4 mandatory params. To me, that should never be the case. Why was that even implemented? What was the issue that was tried to be solved?
Consider my case, where I have to send a batch to 10,000 people, and all my classes are initializing the Mail object WAY before I even loop the email addresses.
I use

[2017-09-26 23:08] thinkingserious commented on #433
Hi @raulp!

Thank you so much for taking the time to provide some feedback and just in time as development on v7 of this library is underway.

Do you mind moving this conversation [here](https://github.com/sendgrid/sendgrid-php/issues/413)? Thanks!

With Best Regards,

Elmer

[2017-09-26 23:14] thinkingserious commented on #432
Hello @lesh3000,

Can you try the following after `echo $response->status();`?

`echo $response->body();`

Also, if it's a 400 error, that means it's likely an error relating to your API Key. Do you have this code (`$sg = new \SendGrid($sendgrid_apiKey);`) inside or outside of your loop?

Might be useful to check the value of $sendgrid_apiKey on the second call.

With Best Regards,

Elmer

[2017-09-27 05:45] raulp commented on #433
Oh, wonderful ... hope i can get some bandwidth, might even help with some PR's if possible.
Thanks !

[2017-09-27 05:45] #433 closed

[2017-09-27 13:28] lesh3000 commented on #432
Hello @thinkingserious;

Thank you so much for helping out.
Eventually ->body(); helped me to resolve the problem.
The issue was in ob_.

Many thanks!

[2017-09-27 18:40] #432 closed

[2017-09-30 17:41] #290 closed

[2017-09-30 17:44] thinkingserious opened #434 "PHP Mail Helper Refactor"
#### Issue Summary

An interface to easily interact with the `mail/send` endpoint of the [SendGrid v3 Web API](https://sendgrid.com/docs/API_Reference/api_v3.html).

The specification for this project is [here](https://github.com/sendgrid/sendgrid-php/blob/master/mail-helper-refactor.md) and the discussion around this specification can be found [here](https://github.com/sendgrid/sendgrid-php/issue

[2017-09-30 17:45] thinkingserious commented on #413
Implementation will be tracked in [this issue](https://github.com/sendgrid/sendgrid-php/issues/434).

[2017-09-30 17:45] thinkingserious commented on #303
This has been moved [here](https://github.com/sendgrid/sendgrid-php/issues/434).

[2017-09-30 17:45] #303 closed

[2017-09-30 17:46] thinkingserious commented on #302
This has been moved [here](https://github.com/sendgrid/sendgrid-php/issues/434).

[2017-09-30 17:46] #302 closed

[2017-09-30 17:46] thinkingserious commented on #301
This has been moved [here](https://github.com/sendgrid/sendgrid-php/issues/434).

[2017-09-30 17:46] #301 closed

[2017-09-30 17:46] thinkingserious commented on #300
This has been moved [here](https://github.com/sendgrid/sendgrid-php/issues/434).

[2017-09-30 17:46] #300 closed

[2017-09-30 17:48] thinkingserious commented on #299
This has been moved [here](https://github.com/sendgrid/sendgrid-php/issues/298)

[2017-09-30 17:48] #299 closed

[2017-09-30 17:49] thinkingserious commented on #296
https://github.com/sendgrid/sendgrid-php/issues/297

[2017-09-30 17:49] #296 closed

[2017-09-30 17:49] thinkingserious commented on #298
This has been moved [here](https://github.com/sendgrid/sendgrid-php/issues/297)

[2017-09-30 17:49] #298 closed

[2017-09-30 18:09] #176 closed

[2017-09-30 18:10] thinkingserious commented on #254
This has been moved [here](https://github.com/sendgrid/sendgrid-php/issues/434).

[2017-09-30 18:10] #254 closed

[2017-09-30 18:11] #260 closed

[2017-09-30 18:12] thinkingserious commented on #264
This has been moved [here](https://github.com/sendgrid/sendgrid-php/issues/434).

[2017-09-30 18:12] #264 closed

[2017-09-30 18:12] thinkingserious commented on #278
This has been moved [here](https://github.com/sendgrid/sendgrid-php/issues/434).

[2017-09-30 18:12] #278 closed

[2017-09-30 18:13] thinkingserious commented on #321
This has been moved [here](https://github.com/sendgrid/sendgrid-php/issues/434).

[2017-09-30 18:13] #321 closed

[2017-09-30 18:14] thinkingserious commented on #339
This has been moved [here](https://github.com/sendgrid/sendgrid-php/issues/434).

[2017-09-30 18:14] #339 closed

[2017-09-30 18:14] thinkingserious commented on #350
This has been moved [here](https://github.com/sendgrid/sendgrid-php/issues/434).

[2017-09-30 18:14] #350 closed

[2017-09-30 18:16] thinkingserious commented on #387
This has been moved [here](https://github.com/sendgrid/sendgrid-php/issues/434).

[2017-09-30 18:16] #387 closed

[2017-09-30 18:16] #388 closed

[2017-09-30 18:17] #397 closed

[2017-09-30 18:17] #417 closed

[2017-09-30 18:17] thinkingserious commented on #418
This has been moved [here](https://github.com/sendgrid/sendgrid-php/issues/434).

[2017-09-30 18:17] #418 closed

[2017-09-30 18:18] #419 closed

[2017-10-02 00:29] mrmxs commented on #336
Hello! Please check my PR for this issue)

[2017-10-04 01:44] thinkingserious commented on #413
Thanks for the feedback @jopanel!

We require HTML and plain text for deliverability reasons. If you send only HTML content, your delivery score reduces significantly. We are looking into creating a function that does the HTML to plain text version for your automatically.

For the rest of your feedback, would you mind making a PR against [this file](https://github.com/sendgrid/sendgrid-php/blob/ma

[2017-10-04 15:10] shonjord commented on #413
@jopanel I have to disagree to you on the recipients, I think it's more readable if you find this:
[code]
Rather than:
[code]

If you come back to read your code (after a while), you inmediatly know who is `from`, `to`, etc.

And if you find yourself having to instantiate way too many times the `email class` then the problem is in your code, you're repeating yourself and the code needs to be refac

[2017-10-04 15:40] thinkingserious opened #436 "Dockerize"
We want to make it easier to test and/or contribute to this repo utilizing Docker. This has been completed in [Python](https://github.com/sendgrid/sendgrid-python/tree/master/docker), please use that example as a reference.

Key features:
* Setup the environment as specified in the CONTRIBUTING.md file
* Prism should be running on launch
* The README and USAGE file should help the user get up and

[2017-10-04 15:59] thinkingserious opened #437 "Auto Generate Plain Text Content from HTML"
We require both HTML and Plain Text content for improved deliverability. In some cases, only HTML may be available. We need a function that automatically converts a given HTML string to the Plain Text equivalent.

[2017-10-04 16:06] cmckni3 commented on #437
I'll take a stab at it. Shouldn't be too bad.

[2017-10-04 16:07] thinkingserious commented on #437
Thanks @cmckni3!

[2017-10-04 16:39] jopanel commented on #413
Okay,

Well here there are three examples in which case this is used:

Multi-Person
`$tos = new ToCollection([
    new To("test1@example.com", "Example User1"),
    new To("test2@example.com", "Example User2"),
    new To("test3@example.com", "Example User3")
]);`

Multi-Email/Person
`$tos = new ToCollection([
    new To("test1@example.com",
           "Example User1",
           [

[2017-10-04 17:04] ianh2 commented on #413
I agree with Joseph

I keep saying this but I don't understand why you don't look at the V2 interface which handles one or many e-mail recipients in an entirely efficient way

/*First set up the standard bits for all recipients */

 $email

      ->setFrom('somebody@domainclub.co.uk')

      ->setFromName($sendername)

      ->setSubject($subject)

      ->setHtml($message);

/* Now we need to add

[2017-10-04 17:29] jopanel commented on #413
I use V2 as well. It is just much much easier to pass data. I made a [pull request here](https://github.com/sendgrid/sendgrid-php/pull/438) with my changes. I think this removes a lot of redundant code making it faster/easier to develop. Also makes it more friendly for the developer in building/creating the emails needed to send in mass or single.

[2017-10-04 17:46] samundra commented on #436
I want to have a look at this one.

[2017-10-04 20:00] shonjord commented on #413
@ianh2 same can be done with the proposal, but much better for you and the library:

instead of:
[code]
You cand do:
[code]

Or even better:

[code]

[2017-10-04 20:43] jopanel commented on #413
Why not let the developer decide if they want their items apart of a collection or not? Seems highly overkill and impractical for anybody not using laravel.

[Here is the Collections class from laravel](https://github.com/laravel/framework/blob/5.2/src/Illuminate/Support/Collection.php). 99.99% of the time you're not gonna be using collection functions when sending mail. You're going to be using M

[2017-10-04 21:11] jopanel commented on #413
I keep bringing up Laravel cause its a framework I know of that utilizes a "collection class" (also Symfony does too). This is PHP not C# or Java. Ive worked with many companies who utilize OOP frameworks that don't have a collection class out the box (including my current).

[2017-10-04 21:22] shonjord commented on #413
You'r argument is invalid @jopanel , what's the problem of bringing good practices over to PHP?, if the developers of PHP thought the same way as you, PHP wouldn't have type hinting, return type hint, scalar params, strict types, interfaces, etc, because, if other languages have it, why do we need them in PHP, it's PHP, it's not `X` language.

[2017-10-04 21:32] jopanel commented on #413
Your comments sound very insulting. Including your first where you ask a question then answer it multiple times. I appreciate your responses. However if I could clone myself and have enough lives to where I can contribute towards PHP as a whole including frameworks that don't utilize things like collections I would develop them. I am not saying they should never be used or that they are bad. I am

[2017-10-04 21:37] shonjord commented on #413
First of all, I'm not fighting, just giving my thoughts.

Second If you feel offended by my comments, I apologise, although, I don't feel that I have insulted you at all.

Third, ok, you don't like `collections`, you hate them, that's fine, but, why do you need to remove every object from the proposal?, it's the same as if you were to `json_encode` your data and send it, imho, you don't need the m

[2017-10-04 21:45] jopanel commented on #413
You're right about one thing. It is the same as if you were to json_encode. I made a bad assumption that there would be no validation for the mailer class. I created a new pull request removing only the useless code. Which is collections. I don't hate them.

Why would you need: header collection, substitution collection, custom arg collection, content collection, attachment collection, global head

[2017-10-05 10:20] shonjord commented on #413
@jopanel These objects are part of the library, you don't need to use them in your Application at all, in fact, that's a bad practice to couple your software with any library in particular, the idea behind these objects (all, not only collections) is to allow the **library** to be more robust, follow better OOP principles and practices, easy to maintain, extend and read.

As I said before, you don

[2017-10-05 14:36] thinkingserious opened #440 "Create a tutorial to deploy a simple Hello Email app on AWS with PHP using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and deploy to AWS.

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:40] thinkingserious opened #441 "Create a tutorial to deploy a simple Hello Email app on Heroku with PHP using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Heroku](https://devcenter.heroku.com/articles/heroku-button).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:46] thinkingserious opened #442 "Create a tutorial to deploy a simple Hello Email app on Digital Ocean with PHP using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Digital Ocean](https://www.digitalocean.com/community/tutorials/how-to-set-up-automatic-deployment-with-git-with-a-vps).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to US

[2017-10-05 14:51] thinkingserious opened #443 "Create a tutorial to deploy a simple Hello Email app on IBM Blue Mix with PHP using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to IBM Blue Mix](https://www.ibm.com/blogs/bluemix/2016/01/deploy-to-bluemix-button-example/).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:54] thinkingserious opened #444 "Create a tutorial to deploy a simple Hello Email app on Google App Engine with PHP using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Google App Engine](https://cloud.google.com/).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:55] thinkingserious opened #445 "Create a tutorial to deploy a simple Hello Email app on Microsoft Azure with PHP using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Microsoft Azure](https://docs.microsoft.com/en-us/azure/app-service/app-service-deploy-local-git).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 21:17] jopanel commented on #437
I wonder what the scope on this is. Should it look for h tags then p tags that follow. Should it just get whatever plain text it can on the page. Maybe somebody is doing some weird HTML?

Nevertheless

`echo strip_tags(preg_replace('#<script(.*?)>(.*?)</script>#is', '', $HTMLCODE));`

I think something along those lines would suffice as an idea. However something really awesome that gets only the

[2017-10-06 00:24] gabidavila commented on #441
I want to tackle this, but first I have a simple question, because it is bugging me. The issue asks for best practices for storing credentials while in [USE_CASES.md](USE_CASES.MD) you advocate for `require` on the library and not using composer. Why?

[code]

[2017-10-06 03:08] kumarshail opened #446 "No content in the attachment"
#### Issue Summary
When sending email from localhost apache server, the filename which is getting sent is correct, but there is no content in the file. The file size is 1KB.

#### Steps to Reproduce
[code]

#### Technical details:

* sendgrid-php Version: master (latest commit: [commit number])
* PHP Version: PHP 7.1.10-1+ubuntu17.04.1+deb.sury.org+1

[2017-10-06 07:29] Luciam91 commented on #436
Is this for a development environment, or a production one?

[2017-10-06 07:33] samundra commented on #436
development environment, I guess. For production should hint best practices.

On Fri, Oct 6, 2017, 1:14 PM Scott Pringle <notifications@github.com> wrote:

[2017-10-06 07:57] Luciam91 commented on #436
Perfect, I'll wait for you to get this done @samundra if you're still working on it :)

[2017-10-06 08:25] samundra commented on #436
Ok. I was waiting for confirmation. I will start to work on this.

On Friday, October 6, 2017, Scott Pringle <notifications@github.com> wrote:

--
Sent from mobile,
Please execuse my typos

[2017-10-06 13:54] thinkingserious opened #447 "Create a tutorial to create a Slack event integration with PHP using this SDK"
Create a tutorial that explains how to create a simple [integration with Slack](https://api.slack.com/events-api) that allows an email to be triggered based on some [defined event](https://api.slack.com/events).

The example should utilize best practices for storing credentials.

Please add the tutorial to USE_CASES.md.

[2017-10-07 18:33] alextech commented on #413
As a compromise, why not use `iterable` type?

[code]

This way, both arrays and whatever inherits Traversable will work. If SendGrid chooses not to implement collections, this will not prevent others from quickly making their own.

Since this would be a new library version, supporting PHP 7 is fine. In mean time, compromise for 5.6 would be to accept `ArrayObject` and if primitive array is passed

[2017-10-07 21:00] ninsuo commented on #413
Didn't check this issue since a long time.
You did a very good job during that time guyz, bravo.
Cheers

[2017-10-09 08:24] elmarshar opened #452 "Campaign stats"
It's not possible to retrieve campaign stats with the current API (v3). I believe this is a major part of the campaign functionality that should be added.

[2017-10-09 13:03] shonjord commented on #413
@alextech excellent, didn't think of this before, I hope sendgrid would implement the way you suggest, it's brilliant.

[2017-10-09 15:35] jopanel commented on #325
Hi,

Based on the C# implementation I think this would be an easy case.

[code]

I can make a PR but I would consider adding it to the refactor PR.

[2017-10-09 18:52] mbernier commented on #446
Could you please provide output from your print statements using a local file?
I like to test with a logo from here: https://sendgrid.com/resource/brand/

[2017-10-09 18:54] mbernier commented on #452
Thank you! I will pass this along to the product manager who owns this feature to help move it up in the backlog.

[2017-10-09 18:54] #452 closed

[2017-10-09 21:14] thinkingserious commented on #325
Hi @jopanel,

If you have time, it would be nice to get it in now, while we wait for the refactor PR to be completed.

With Best Regards,

Elmer

[2017-10-09 21:32] jopanel commented on #325
Hi

I hope I added it in the [right place for this PR](https://github.com/sendgrid/sendgrid-php/pull/453).

[2017-10-09 23:52] thinkingserious commented on #325
Thanks @jopanel!

[2017-10-10 00:30] thinkingserious commented on #413
Hi @alextech,

Thanks for the great feedback!

Would you mind making a PR [here](https://github.com/sendgrid/sendgrid-php/blob/master/mail-helper-refactor.md) that incorporates your suggestions?

With Best Regards,

Elmer

[2017-10-10 18:58] thinkingserious opened #454 "Subscription Widget Helper"
Create a helper that will show how to add a working subscription widget to their site from code in the library.

		Features:

		- An function that returns an embeddable HTML form that takes email address and name.

		- The form should submit to a customizable URL path

		- The code at the URL path should accept the data and post it to the contactdb using the (POST Add Recipients endpoint)[https://

[2017-10-10 20:21] thinkingserious opened #455 "Add a Code Of Conduct"
Add a file to the root of this repo called CODE_OF_CONDUCT.md, with the content from the [same file in our docs repo](https://github.com/sendgrid/docs/pull/3048).

[2017-10-10 22:19] thinkingserious opened #458 "Make SendGrid permissions management easy"
Create a class for managing permission scopes that has the following features:

- Allow you to add create, delete, read, update permissions for each of the groups defined [here](https://sendgrid.com/docs/API_Reference/Web_API_v3/API_Keys/api_key_permissions_list.html)  -- these can be hard coded in
- Allow for creating an array of all the scopes possible, as a "create admin permissions" method
- A

[2017-10-11 03:41] mbernier opened #459 "Create an Inbound Parse tester"
Related to #297, as this will test the code for that issue.

This is what we have done in another library --

Acceptance Criteria:
- Implement all the functions [here](https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/inbound/send.py).
- Write unit tests

Reference:
- https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/inbound/send.py
- https://sendgrid.

[2017-10-11 06:49] thinkingserious commented on #459
https://github.com/sendgrid/sendgrid-php/issues/297

[2017-10-11 06:49] #459 closed

[2017-10-11 07:26] gr8shivam commented on #442
Would love to take on this but need test accounts on SendGrid as well as DigitalOcean for this.

[2017-10-11 17:35] jopanel commented on #437
Hi,

I made a [PR here](https://github.com/sendgrid/sendgrid-php/pull/461). I am hoping I am making the PR in the right place. This seems like something for the new refactored version. However there is no parsing of data incase its HTML being inputted.

You can run a test like:

`$html = file_get_contents('http://sandbox.onlinephpfunctions.com/');
		$html = preg_replace(
        array(

[2017-10-11 17:37] cmckni3 commented on #437
I don't agree with using a regex. I think it should use libxml2 and grab all of the text nodes.

[2017-10-11 17:39] cmckni3 commented on #437
Sorry, I didn't get a chance to look at this over the weekend as intended.

[2017-10-11 17:51] jopanel commented on #437
My bad on my last PR. I made [a new one](https://github.com/sendgrid/sendgrid-php/pull/462).

I think regex has its place in PHP life. While [some people may not agree with using regex to parse html.](https://stackoverflow.com/questions/1732348/regex-match-open-tags-except-xhtml-self-contained-tags). I think it helps combat parsing html on the fly. I looked into this issue cause it was bugging me.

[2017-10-11 17:55] thinkingserious commented on #437
@cmckni3, @jopanel,

Generally, we want to limit dependencies and stick to the standard PHP library.

I think a simple regex is a good start, then we can build upon that functionality and possibly add an optional, more industrial strength tool.

[2017-10-11 17:59] cmckni3 commented on #437
I think `libxml2` is included in newer versions of PHP unless specified to not enable it. It's a hard dependency in some web frameworks, e.g. symfony.

[2017-10-11 18:00] thinkingserious commented on #437
@cmckni3,

Thanks for the follow up!

Perhaps we can check if that dependency exists, if so, we use it, otherwise we fall back to the regex.

[2017-10-11 18:10] jopanel commented on #437
I checked my local XAMPP, it does include XML which labels version 2.8.0 of libxml2. My work environment server using PHP 5.6 also has it with version 2.7. I have not checked PHP7 or PHP5.4. However it appears it may be a standard with a PHP install. I will leave my pull request open for comments and I hope to see your version of HTML plain/text parser.

[2017-10-11 19:01] AlbinoDrought commented on #371
If anyone else is having this issue, make sure your API key doesn't (for whatever reason) have linebreaks at the end of it. In my case, I was reading creds from a repository-excluded file to test if my wrapper _actually_ worked, and was puzzled when I kept getting a `415`.

---

If you were to have a file like this:

`.sendgrid`: (notice the linebreak)
[code]
and you used it like
[code]

The raw H

[2017-10-11 19:08] cmckni3 commented on #437
Seems like it's pretty standard from the [docs](http://php.net/manual/en/libxml.installation.php)

[2017-10-11 19:10] thinkingserious commented on #371
Hi @AlbinoDrought,

Would you mind adding the `trim` fix to our docs via PR?

[2017-10-11 19:15] thinkingserious commented on #437
Nice find @cmckni3 :)

Will you be taking up the PR?

[2017-10-11 19:18] cmckni3 commented on #437
You want me to look at the PR @thinkingserious? I don't understand your question.

[2017-10-11 19:20] thinkingserious commented on #437
My apologies for my lack of clarity @cmckni3.

I am asking if you will create a PR to solve this issue.

[2017-10-11 19:22] cmckni3 commented on #437
Sure, when I have a chance. Moved to a new apartment this week. Not sure when I'll get to it. Probably this weekend.

[2017-10-11 19:23] thinkingserious commented on #437
Sounds good, thank you!

[2017-10-11 19:28] thinkingserious commented on #442
Hi @gr8shivam,

You can obtain a free SendGrid account [here](https://sendgrid.com/free?source=sendgrid-php). For Digital Ocean, you can utilize their [free trial](https://cloud.digitalocean.com/registrations/new).

I hope that helps.

With Best Regards,

Elmer

[2017-10-11 19:30] gr8shivam commented on #442
Already used the free trial + student promotion. 😆

[2017-10-11 20:07] mbernier commented on #413
Hey everyone! I'm curious about your thoughts on the effects of #450 on this work?

[2017-10-11 20:55] geryjuhasz commented on #413
The iterable type sounds good. I could add it to #450

[2017-10-11 21:03] dguhl commented on #455
Please close this issue as you have a PR now. ~hacktoberfest

[2017-10-11 21:04] alextech commented on #413
@thinkingserious that PR is public interface signature discussion, while my suggestion is about internal implementation of those signatures. So nothing for me to add there.

As for #450 , multiple classes per file is a big no no, so IMO that PR *must* go through, maybe take the opportunity to add parameter types while at it. It does not even have to be full PHP 7 enforced types, just SOME typing `

[2017-10-11 21:06] thinkingserious commented on #413
Thanks for responding os quickly @alextech!

[2017-10-11 21:06] #455 closed

[2017-10-12 16:36] thinkingserious commented on #441
Hello @gabidavila,

Good catch, the `(recommended)` text should be next to the `// If you are using Composer` comment. Do you mind making a PR to fix that?

Thanks!

With Best Regards,

Elmer

[2017-10-12 16:42] gabidavila commented on #441
Of course, will be there soon enough.

[2017-10-12 17:32] valerianpereira commented on #336
I have sent a PR for this.

[2017-10-12 20:43] thinkingserious opened #469 "Save inbound email attachments to S3"
When emails come to inbound parse, sometimes they have attachments
It would be nice to be able to send the files to an S3 bucket when they are received

[2017-10-12 21:28] thinkingserious opened #470 "Save inbound email attachments to Box"
When emails come to inbound parse, sometimes they have attachments
It would be nice to be able to send the files to a Box account when they are received

[2017-10-13 02:00] thinkingserious opened #471 "Save inbound email attachments to Dropbox"
When emails come to inbound parse, sometimes they have attachments
It would be nice to be able to send the files to a Box account when they are received

[2017-10-13 12:46] BhagyashreeCC opened #472 "Send PDF file attachment in Email using Sendgrid Web_API_v3"
Hi,
I am new to sendgrid v3 API. I have latest library downloaded. I am able to send simple email using v3 API, but I am not getting end point to send pdf file attachment email using v3 API. Please help me out to resolve my issue.

Thanking you in advance.

[2017-10-13 13:18] thinkingserious commented on #472
Hello @BhagyashreeCC,

Welcome to SendGrid!

Have you tried the example [here](https://github.com/sendgrid/sendgrid-php/blob/master/USE_CASES.md#attachments)?

With Best Regards,

Elmer

[2017-10-13 14:12] BhagyashreeCC commented on #472
@thinkingserious  Thanks for quick and perfect solution.
Your help is really appreciable. :)

[2017-10-13 14:12] #472 closed

[2017-10-13 15:00] BhagyashreeCC opened #473 "Set custom argument in an email using sendgrid v3 API"
Hi,
I want to set Custom Arguments for each email id while sending email using sendgrid v3 API. which can letter retrieve email status using that custom argument. Also It would be great if I can get reference for how can I get email status using sendgrid v3 API.

Thanks in Advance.

[2017-10-13 15:19] citricsquid commented on #469
@thinkingserious Regarding this issue (and #470, #471) I would like to implement this, however, I have noticed that this project [does not have any third-party dependencies](https://github.com/sendgrid/sendgrid-php/blob/master/composer.json#L8). Does this project intentionally have no third party dependencies and therefore a solution for this would require all first-party code, or is it okay to in

[2017-10-13 19:43] thinkingserious opened #474 "Add How to Setup a Domain Whitelabel and How to View Email Statistics to USE_CASES.md"
Please see [this](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#how-to-setup-a-domain-whitelabel) for an example.

[2017-10-14 15:47] amsourav commented on #474
#475

[2017-10-14 15:55] geekfred commented on #471
How should the files be structured within the Dropbox account?

[2017-10-14 16:38] thinkingserious commented on #471
Hi @geekfred,

I think we should make which folder the files get saved to configurable.

Thanks for taking this on!

With Best Regards,

Elmer

[2017-10-14 16:40] #474 closed

[2017-10-14 18:06] thinkingserious commented on #471
Note that this issue is dependent on this one: https://github.com/sendgrid/sendgrid-php/issues/297

[2017-10-14 18:07] thinkingserious commented on #470
Note that this issue is dependent on this one: https://github.com/sendgrid/sendgrid-php/issues/297

[2017-10-14 18:07] thinkingserious commented on #469
You are correct @citricsquid, this issue is dependent on this one: https://github.com/sendgrid/sendgrid-php/issues/297

[2017-10-14 18:12] thinkingserious commented on #473
Hi @BhagyashreeCC,

[Here is an example](https://github.com/sendgrid/sendgrid-php/blob/master/examples/helpers/mail/example.php#L47) for setting Custom Arguments.

You can obtain the email status in real time using our [Event Webhook](https://sendgrid.com/docs/API_Reference/Webhooks/event.html).

With Best Regards,

Elmer

[2017-10-14 22:49] geekfred commented on #469
Yeah, I've taken the Dropbox save issue and had the same thought as @citricsquid about [phpleague/flysystem](http://flysystem.thephpleague.com/). It takes many providers and can be an excellent solution. It covers S3, Dropbox and many others (even DO Spaces) leaving Box outside tho. Don't know what you guys think about it.

[2017-10-15 19:14] BhagyashreeCC commented on #473
Hi @thinkingserious ,

Thank you for the solution.. :)

[2017-10-15 19:14] #473 closed

[2017-10-15 19:20] BhagyashreeCC opened #478 "How to get each email id status using sendgrid v3 API"
Hi,
I wanted to fetch each email id status using sendgrid v3 API -PHP (e.g. Delivered, Processed, Open, etc.).
Do I need to make any setting in my sendgrid account for the same?
Please help me to found solution.

Thanking in Advance.

[2017-10-15 22:53] Braunson commented on #297
Is someone already on this?

[2017-10-16 13:53] thinkingserious opened #480 "Attach files to email from S3"
This should be added to the Mail helper method  (unless a new dependency is required, in that case describe the usage in the USE_CASES.md file), where the file that is attached can be sitting on an S3 bucket.

In most circumstances, for Spam detection reasons, it would be better to link to the file- however, there are legitimate use cases for attaching a file. Example: Receipt PDFs

[2017-10-16 13:54] thinkingserious opened #481 "Attach files to email from Box.com"
This should be added to the Mail helper method  (unless a new dependency is required, in that case describe the usage in the USE_CASES.md file), where the file that is attached can be sitting in Box.com storage.

In most circumstances, for Spam detection reasons, it would be better to link to the file- however, there are legitimate use cases for attaching a file. Example: Receipt PDFs

[2017-10-16 13:55] thinkingserious opened #482 "Attach files to email from Dropbox"
This should be added to the Mail helper method (unless a new dependency is required, in that case describe the usage in the USE_CASES.md file), where the file that is attached can be sitting in Dropbox.
In most circumstances, for Spam detection reasons, it would be better to link to the file- however, there are legitimate use cases for attaching a file. Example: Receipt PDFs

[2017-10-16 14:03] thinkingserious opened #483 "Prevent secrets from sending in email"
Add a method that will check the content of the email before sending, to make sure that specific strings or patterns are not included.
For example, SG API keys look like this: SG.[a-zA-Z0-9_].[a-zA-Z0-9\-]
So the function could take a list of regex or specific strings to compare against. If a string is found, the mail/send should throw an exception

[2017-10-16 14:07] thinkingserious opened #484 "Create and schedule a marketing campaign"
With the [SendGrid Marketing Campaigns feature](https://sendgrid.com/docs/API_Reference/api_v3.html#campaigns) you can create a campaign, edit it, then schedule it for the future or for 'now'
Create a helper that uses the API to build the campaign
Then add the ability to build + schedule, build + send now, or only build the campaign
Please also add the ability to notify a specific email address or

[2017-10-16 14:42] thinkingserious opened #485 "Scheduling 1000-1,000,000 emails in batches"
When someone wants to send thousands or millions of the same email, they will create a call to our mail/send endpoint and break the list of emails and thr substitutions into batches of 1000 emails per request to the SendGrid API. This is great, except that there are a couple caveats:
1. [Mail Send Limitations](https://sendgrid.com/docs/API_Reference/api_v3.html) - see the field level limits here
2

[2017-10-16 14:43] bduave opened #486 "how to send list of images with addSubstitution"
I create list in php and then send it as a substitution but when I send images it displays as a code in the email not as image as we want. I created on our template modules as a code, text but and even text with image but when I send to those modules the information comes as the attached email. How can I send the code and convert as image?

#the code
`for ($z = 0; $z < count($ReturnListProdutcs);

[2017-10-16 14:47] thinkingserious opened #487 "Get all the stats for a date range"
We have various types of stats global stats, category stats, and subuser stats.
For some users, being able to pull these stats and send them somewhere is ideal.
Please create a nice helper for pulling stats from each of these locations so that the data can be sent to a database.

[2017-10-16 14:51] thinkingserious opened #488 "Get unassigned IPs"
SendGrid returns a list of all IP addresses on your account. It also returns a list of assigned IP addresses.
What it doesn't do is return a list of unassigned IPs.
Please create a method that will get the IPs available and return any that do not have a subuser assigned to them.
See [GET /ips](https://sendgrid.com/docs/API_Reference/api_v3.html#ip-addresses) for more information

[2017-10-16 15:00] thinkingserious opened #489 "Create whitelabel DNS entries via the API"
The SendGrid API allows you to do almost everything that the UI can do, including building your whitelabels (authenticated domains) into your accoount. This requires a domain you can create subdomains on and some creativity to decide what to call the subdomains.

We have 3 kinds of whitelabeling: domain, link, and ip.

Link whitelabeling allows all  the links in your emails to be rewritten to look

[2017-10-16 16:15] thepriefy commented on #483
Do you mean that if some content of the email match the SG API Key, the method should throw an exception? Is there any other condition?

[2017-10-16 17:13] gr8shivam commented on #488
Can you please provide a sample account with which I can work on this.

[2017-10-16 17:15] thinkingserious commented on #488
Hello @gr8shivam,

You can get a free SendGrid account [here](https://sendgrid.com/free?source=sendgrid-php).

With Best Regards,

Elmer

[2017-10-16 17:46] thinkingserious commented on #483
Hi @thepriefy,

The string that causes the exception to be thrown should be configurable.

Thanks!

With Best Regards,

Elmer

[2017-10-16 17:51] gr8shivam commented on #488
You want the method to be placed where?

[2017-10-16 17:55] thinkingserious commented on #488
@gr8shivam,

Please create a helper [here](https://github.com/sendgrid/sendgrid-php/tree/master/lib/helpers).

[2017-10-16 18:10] thinkingserious commented on #486
Hello @bduave,

Do you mind sharing the code that sends the email? I'm trying to determine how you are building the email to be sent so that I can try to reproduce.

Thanks!

With Best Regards,

Elmer

[2017-10-17 08:05] bduave commented on #486
Hi @thinkingserious , thanks for reply.
i attached the files because when i paste here it hides some lines of code.

[Sendgrid.txt](https://github.com/sendgrid/sendgrid-php/files/1390234/Sendgrid.txt)

[2017-10-17 15:59] thinkingserious opened #491 "Attachment helper for base64 encoding"
We have an example in USE_CASES.md on how to handle attachments.

We need to update the `Attachment` object such that it can also take in a raw file, rather than a base64 encoded file, and perform the base64 encoding behind the scenes.

Note that the total size of your email, including attachments, must be less than 30MB. The total size is calculated from the entire JSON payload. Note that you wil

[2017-10-17 16:16] thinkingserious opened #492 "Demonstrate how to review the request body for troubleshooting"
When debugging, it can be useful to examine the request body before sending to the SendGrid API.

Prove an example of how to examine the request body in TROUBLESHOOTING.md. For an example, see [here](https://github.com/sendgrid/sendgrid-python/blob/master/TROUBLESHOOTING.md#request-body).

[2017-10-18 19:00] thinkingserious opened #495 "SendGrid Event Webhook consumer"
The SendGrid event webhook will send email events to a URL of your choosing. Add functionality that will consume event webhook events posted
to your server by SendGrid. Documentation: https://sendgrid.com/docs/API_Reference/Webhooks/event.html

[2017-10-19 08:47] runz0rd commented on #487
Hey, mind if I get this one?

[2017-10-19 08:54] Mechazawa commented on #483
So an array of regular expressions and if any matches throw an exception? I'll do this issue.
Should it be configurable?

[2017-10-19 14:33] runz0rd commented on #487
@thinkingserious Ive taken a look at the Mail helper, and from what I could see it serves as a query builder for the request. So, would you prefer to keep the helpers (including this one) in that form, or would you prefer something thats more of a wrapper for the sendgrid client?

Also, the docs cover stats and stat sums for some of the stat types. Would you like both of these covered?

[2017-10-19 16:12] bduave opened #496 "unsubscribe groups for transactional emails"
Hi, I would like to know i can I set the url of the unsubscribe groups in a transactional emails? I saw in a documentation to go to settings and recipients but there is no that menu option there. how can I do?

[2017-10-19 21:03] mbernier opened #497 "Allows users to submit rfc822 formatted email addresses"
#### Issue Summary

Similar to: https://github.com/sendgrid/sendgrid-python/pull/348

Where the user can submit email addresses as:
`example@example.com`
or
`example example <example@example.com>`

[2017-10-20 00:14] kraigh commented on #454
I will work on this!

[2017-10-20 10:24] BhagyashreeCC commented on #478
HI,
I have enabled Event notification in my sendgrid account. also created .php file on my server to get required response from sendgrid. But when I hit "Test your Integration" button, I am getting "No Content" in response. I don't understand why? Please help me to resolve my issue.
Let me know If I need to change any settings in my account.

Thanks in Advance.

[2017-10-20 12:52] mbernier commented on #478
Just to make sure I am following you here:
- You have a script that will receive data from SendGrid's event webhook
- You are recording the data it receives?
- You gave SendGrid the URL
- You hit the Test Integration, and you receive an empty request?

If all of this is true, please make sure that your script is accepting multipart-form data. The post is not a truly RESTful POST. If that still doe

[2017-10-20 13:07] mbernier commented on #250
Hey @here, I just want you to know that I have been talking with the engineering team who owns this part of the code. We are working on getting this change made. It won't be deployed this quarter because it is our customer's busiest time of the year (Holiday shopping). I am actively working to get this done and I apologize that it is not done yet - as this was one of the main reasons for allowing

[2017-10-20 13:08] mbernier commented on #259
Similar to #485

[2017-10-20 13:11] mbernier commented on #297
@Braunson nope. There are a couple related issues as well - please grab it!

Also we're participating in Hacktoberfest, by sending out a special shirt, sticker, and pin for accepted PRs!!

[2017-10-20 13:12] mbernier commented on #325
@thinkingserious @jopanel I want to make sure I am following this properly, but is this issue closed by #439 ?

[2017-10-20 13:12] #336 closed

[2017-10-20 13:14] mbernier commented on #436
How's it going @samundra? Anything we can help with?

[2017-10-20 13:15] mbernier commented on #437
@cmckni3 @jopanel @thinkingserious I am checking in to see if there are any questions or things we can do to help out here?

[2017-10-20 13:16] mbernier commented on #441
@gabidavila how's it going? Anything we can do to help?

[2017-10-20 13:17] mbernier commented on #442
@gr8shivam how's it going? Anything we can do to help?

[2017-10-20 13:19] mbernier opened #498 "Hacktoberfest issues remaining"
We have a couple issues that haven't been grabbed for Hacktoberfest! If you get a PR accepted by our team, we will send you a custom SendGrid Hacktoberfest shirt, sticker, and a SendGrid Hacker pin.  More info: https://dx.sendgrid.com/hacktoberfest

- [Feature Request] Bulk mail sending #259
- Email fails: three ways #368 (looks like someone sent in some code, but then fell off the earth)
- Provid

[2017-10-20 16:14] thinkingserious commented on #286
Hello @littlewall @Nightzer @rh78,

My apologies for allowing this to fall between the cracks. I should have updated you regarding [the fix back in August](https://github.com/sendgrid/sendgrid-python/issues/302).

Please let me know if you continue to experience this issue.

With Best Regards,

Elmer

[2017-10-20 16:14] #286 closed

[2017-10-20 18:12] ju3tin opened #499 "Hi I'm Justin"
#### Issue Summary

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, code examples.

#### Steps to Reproduce

1. This is the first step
2. This is the second step
3. Further steps, etc.

Any other information you want to share that is relevant to the issue being reporte

[2017-10-20 18:13] ju3tin commented on #499
hi there

[2017-10-20 20:02] mbernier commented on #499
Hello.

[2017-10-20 20:43] ksigler7 commented on #499
Hi!

[2017-10-20 21:26] thinkingserious commented on #499
¡Hola!

[2017-10-20 22:03] thinkingserious opened #500 "Update README for SEO-ness"
We received an awesome PR for #hacktoberfest on our [ruby library](https://github.com/sendgrid/sendgrid-ruby/pull/220)
We would love to see the same thing on the README in this repo as well.
Please replace the "-" with "_"  in README, CONTRIBUTING, USE_CASES, USAGE files.

Thanks and happy Hacktoberfest!!

[2017-10-20 22:20] thinkingserious opened #501 "Add/Update Badges on README"
Note: Some of this may already be done! That's totally OK.

Similar to what was done on [the SendGrid node README](https://github.com/sendgrid/sendgrid-nodejs/pull/486):
- put the logo at the top of the list
- make sure the other badges are available like so:
[code]
For the following, make sure the correct repo is linked!
For email notifications, you can change the "nodejs" to the language of this

[2017-10-20 22:22] kraigh commented on #454
^ Please see my notes in the PR. Does this solution make sense @thinkingserious ?

[2017-10-20 22:27] mbernier commented on #501
Duplicate, my apologies!!

[2017-10-20 22:33] mbernier commented on #501
There were a couple things missing, so I reopened this one!

[2017-10-21 00:01] jopanel commented on #437
@mbernier

I am just hanging around seeing if @cmckni3 is going to come through with his libxml2 version. For now I have made the regex version on my pull request. I am hoping he comes through this weekend. I would love to check out his method.

[2017-10-21 00:57] samundra commented on #436
Hi Matt,

I haven't started it yet. I am hoping to start it next week.

Thanks,

On Fri, Oct 20, 2017, 8:14 PM Matt Bernier <notifications@github.com> wrote:

[2017-10-21 11:37] lalitvj commented on #446
Used same code. Seems to be working fine with the normal standard installation. Can you provide some output response?

![screen shot 2017-10-21 at 5 06 45 pm](https://user-images.githubusercontent.com/19746749/31851386-4d371648-b682-11e7-8d41-cc8635a29d3a.png)

[2017-10-21 11:40] gr8shivam commented on #497
Can we use PHP mailparse?

[2017-10-21 15:21] #499 closed

[2017-10-22 01:42] nsuchy commented on #440
@thinkingserious Do you still need someone to write this tutorial?

[2017-10-22 05:14] #501 closed

[2017-10-22 05:16] #500 closed

[2017-10-22 05:21] mbernier commented on #486
Hey @bduave - please go and change your API Key, since it was published in the .txt file you shared.

[2017-10-22 05:23] mbernier commented on #486
One thing I noticed in your code -

`ReturnListProdutcs` might be a mispelling? `ReturnListProducts`
To test whether this is an issue, please try printing out `$ShoppingList` before you call this line:

[code]

[2017-10-22 05:48] luqmansungkar commented on #483
Hi, is something like this is enough?

[code]

[2017-10-22 11:17] nalinbhardwaj commented on #458
Is this issue taken? If not, can I take this?

[2017-10-22 11:23] nalinbhardwaj commented on #423
I'll take this up.

[2017-10-23 08:52] flxn commented on #444
I'm working on this.
Will submit a PR soon.

[2017-10-23 11:03] COil commented on #350
+1 and we lost of a lot emails because of this bug. We "trusted" this method as it used to work like this in the past.  :imp:

[2017-10-23 11:27] COil commented on #434
Hi the rewrite is very welcome. When looking at this php class  `sendgrid/php-http-client/lib/SendGrid/Client.php` for example it looks like PH4 code, no access modifier declared, properties declared dynamically, etc...

[2017-10-23 19:46] SendGridDX commented on #469
Hi @geekfred,

I think that instead of adding this functionality directly into the project, we describe the solution in the USE_CASES.md section. We can put the example code in a tutorials/s3 subfolder. And yes, the phpleague/flysystem solutions, seems just what we need.

Thoughts?

With Best Regards,

Elmer

[2017-10-23 19:48] BhagyashreeCC commented on #478
Hi,

-  Yes, I am having below code
`<?php
$data = file_get_contents("php://input",
			                 false,
					stream_context_create(array(
						'http' => array(
							'method'  => 'POST',
					    	        'headers' => 'Content-Type: multipart/form-data'
							),
						)
					)
			     );
$events = json_decode($data, true);
`
- Yes, already written script to record the data in text file
-

[2017-10-23 19:50] BhagyashreeCC commented on #478
http://mywebsite.com/index.php/report/requestbin
having below code
`function requestbin(){
		$result = file_get_contents('https://requestb.in/1c1uuql1');
		echo $result;
	}`

[2017-10-23 22:31] devchas commented on #486
Hey @bduave - when I ran a similar test, I found that the html substitutions containing image tags only worked when including the closing "/" in the image tag itself.  So, for example...

<img data-type="image" src="izyshop.co.mz/images/produtos/02/IMG0237010.png" />

instead of...

<img data-type="image" src="izyshop.co.mz/images/produtos/02/IMG0237010.png">

[2017-10-24 00:30] mbernier opened #515 "IP Warmup functionality integrated into mail helper"
This issue has the potential to save other developers quite a bit of time and frustration when buying IP addresses because it will help them warm up the IPs appropriately. Warming up is a process of slowly ramping up sending on an IP address to allow Email Recipient servers (e.g. gmail, hotmail, etc) to see that this IP is legit.

## Goal
- Add the ability to automate warm up IPs that allows a cus

[2017-10-24 19:42] thinkingserious opened #516 "Create email module class to enable easier drag-drop template creation over API"
The drag-drop editor allows API upload of HTML, but it must conform to a specific standard in order for the editor to render the emails properly.
Create an email module class that allows a user to call a static function that will output the HTML for the module.
The specific module HTML is here: https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/design_editor.html#-Drag--Drop-Code-Examples
Ea

[2017-10-24 20:40] dongido001 commented on #484
@thinkingserious I'm up for this

[2017-10-26 20:13] thinkingserious opened #518 "Create a PULL_REQUEST_TEMPLATE"
#### Issue Summary

We would like to have a template for describing what has changed in the pull request being submitted.

[Github docs on this](https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/)

You can use [this file](https://github.com/sendgrid/open-source-library-data-collector/blob/master/.github/PULL_REQUEST_TEMPLATE.md) as an example

[2017-10-26 21:02] mbernier commented on #436
Thanks, @samundra!!

[2017-10-27 00:01] thinkingserious opened #520 "Add a .env_sample file"
Our preference is that users have an environment file when using the SendGrid API, because it is less likely that someone would commit their credentials to github.

Please make a couple changes:
- make a .env_sample file that contains: `export SENDGRID_API_KEY=''`
- make (or add) a .gitignore file and include `.env`
- add instructions to the README file about how to copy .env_sample to .env and ad

[2017-10-27 00:38] thinkingserious opened #521 "Add a USAGE.md file"
Usage files are really nice when they exist in a repo, because it makes it really obvious where to look for information about how to use this tool. It can be frustrating when you expect this file to be there and it's not.
Please add a USAGE.md file, you can see an example of this
[here](https://github.com/sendgrid/sendgrid-python/blob/master/USAGE.md)

Please make sure you modify the file for this

[2017-10-27 00:39] mbernier commented on #521
dupe

[2017-10-27 00:39] #521 closed

[2017-10-27 07:55] rsalunga29 opened #522 "Notice: Array to String Conversion on addCC (Sendgrid Version 2.2.1)"
Whenever I add "addCC" to the code below. I always receive an error which is "Notice: Array to String Conversion", but when I remove "addCC", the code works.

The error appears to be line 51 in lib/SendGrid.php which is: curl_setopt($ch, CURLOPT_POSTFIELDS, $form);

`$sendgrid_email->addTo($receiver_email)->
				addCC("email1@email.com", "email2@email.com")->
				setFrom($sender_email)->
				setFr

[2017-10-27 11:12] yeoji commented on #520
I have created a PR for this issue

[2017-10-28 02:36] mbernier commented on #522
Maybe it is a deserialization issue?

[2017-10-28 04:34] thinkingserious opened #524 "Add a .codeclimate.yml file to this repo"
It is possible to configure how CodeClimate looks at a repository.
[These Docs](https://docs.codeclimate.com/docs/getting-started-configuration) explain how this is done. Please create an appropriate .codeclimate.yml for this repo. It should test the main language of the repo and run tests.

[2017-10-28 05:38] ankitjain28may commented on #524
@thinkingserious i would like to fix this.

[2017-10-28 15:24] thinkingserious opened #531 "Update the license file to have the correct date range"
This license file might have the wrong end year (2017). If this is the case, please make a PR that updates the year. If the year is correct, please close this issue!

[2017-10-28 15:30] thinkingserious opened #532 "Add a unittest to check the license.md file date range"
The end year in the license file should be "this year" and this should be checked on every run of the tests. If the end year is no correct, fail the test.
example:

It is 2017, so this should be:

and the  test should fail.
--done

[2017-10-28 15:38] thinkingserious opened #533 "Add unittest to check for specific repo files"
This repo should have the following list of files included:
- ./Docker or docker/Docker
- ./docker-compose.yml or ./docker/docker-compose.yml
- ./.env_sample
- ./.gitignore
- ./.travis.yml
- ./.codeclimate.yml
- ./CHANGELOG.md
- ./CODE_OF_CONDUCT.md
- ./CONTRIBUTING.md
- ./.github/ISSUE_TEMPLATE
- ./LICENSE.md
- ./.github/PULL_REQUEST_TEMPLATE
- ./README.md
- ./TROUBLESHOOTING.md
- ./USAGE.md
- ./

[2017-10-28 15:40] samundra commented on #436
Sorry, I was occupied. I finally got myself sometime. Starting from today, I still have few days left :)

[2017-10-28 16:07] #531 closed

[2017-10-28 18:00] #518 closed

[2017-10-28 19:12] uppe-r commented on #532
I'll give this a try, should have something ready in the next few hours!

[2017-10-28 20:21] samundra commented on #436
Hi @mbernier

I have created the early PR. Could you please review it?

I have tried to setup the basic docker based development. I am not so sure how I am supposed to write the USAGE document as per this box.

I have tried to keep it as much similar to the ```sendgrid/sendgrid-pythong``` docker box. So that usage won't vary much. Your insights would be helpful. Let me know how should I proceed fo

[2017-10-29 15:33] elshafey opened #538 "Duplication of sent emails"
#### Duplication of sent emails

When using the same email in $to param in \SendGrid\Mail::__construct and SendGrid\Personalization::addTo() the send grid count the sent email twice instead of counting it one time

#### Steps to Reproduce\
When you try add cc or bcc using new pesrsonalization
`$personalization = new \SendGrid\Personalization();`
`$to = new \SendGrid\Email("", 'to@test.test');`
`$e

[2017-10-30 05:33] thinkingserious opened #540 "Break the testing class apart :: test/unit/SendGridTest.php"
All our tests are in one class. Break them up by type and use a base test class.

Make sure all the tests still run and report the same way as before.

https://codeclimate.com/github/sendgrid/sendgrid-php/test/unit/SendGridTest.php#issue_59f668408905d74fee00001e

[2017-10-30 05:38] #524 closed

[2017-10-30 07:50] pxgamer commented on #540
Not claiming, but I'm happy to have a look at this. :+1:

[2017-10-30 10:36] rsalunga29 commented on #522
@mbernier Not sure, I haven't found the cause of the problem yet. If ever the error is in deserialization, what would be the fix for this?

[2017-10-30 14:50] pxgamer commented on #540
I'm working on this in [feature/split-unit-tests](https://github.com/pxgamer/sendgrid-php/tree/feature/split-unit-tests) but for some reason I keep getting this error in Prism:
`error modifying response: via: detected request loop, header contains prism`

I'll continue working later when I'm on a native Linux OS, rather than LSFW at work.

[2017-10-30 16:38] uppe-r commented on #532
Done in  #537

[2017-10-30 17:13] mbernier opened #541 "Add CodeCov support to .travis.yml"
Issue Summary

Add these entries to the .travis.yml file so codecov reports show up!
https://github.com/codecov/example-php/blob/master/.travis.yml

[2017-10-30 17:50] pxgamer commented on #540
To be honest, just seem to be getting quite a few issues with the Prism binary. 🤔

I've done all the tests though. I may tidy up the structure though (which I've started with a few of them).

[2017-10-30 17:51] pxgamer commented on #541
I'm happy to do this.

[2017-10-30 22:02] pxgamer commented on #540
Ok, never mind. Looks like the test suite requires v1.5.0 of Prism, but the PHP installer in the test suite will download the latest version ([2.0.0-beta.2](https://github.com/stoplightio/prism/releases/tag/v2.0.0-beta.2)) which doesn't work with the OAI specification JSON.

Once I'd installed v1.5.0 it worked.

[2017-10-31 15:49] Rishabh04-02 commented on #541
@pxgamer @mbernier I'm a new contributor, can I take up this issue?

[2017-10-31 16:04] mbernier opened #546 "Hacktoberfest: SendGrid Current Status"
## SendGrid DX team current status:
- Wow
- OMG
- THANK YOU

Hacktoberfest 2017 has completely blown us away. We have had over 900 pull requests from over 300 contributors all in the last 30 days. That is more PRs than we normally get in 2 years!
We are actively working to review, comment, and/or merge as many PRs as we possibly can as quickly as we can.

We are currently working on “intaking” all

[2017-10-31 19:12] thinkingserious opened #547 "Add Code Review to Contributing.md"
- Add a "Code Reviews" section on CONTRIBUTING.md
- Put the following under the header:

- Link the header in the Contributing.md Table of Contents
- Add a link to the README.md file: [Review Pull Requests]("CONTRIBUTING.md#Code-Reviews") under "Contributing Section"

[2017-10-31 20:14] thinkingserious opened #548 "Create a Use Cases Directory"
Due to the success we have seen from hacktoberfest, we are seeing more people create use cases. This is amazing!
We want to make sure that everyone can find them. Please help us to break up this file and make it easier to read and manage:
- Create a Use Cases Directory
- Put a README.md in this directory
- Make a file in the new directory for each individual Use Case from USE_CASES.md, copy the co

[2017-10-31 20:17] mptap commented on #547
@thinkingserious: PR: https://github.com/sendgrid/sendgrid-php/pull/550

[2017-10-31 21:16] #498 closed

[2017-10-31 21:39] #533 closed

[2017-10-31 21:40] #532 closed

[2017-10-31 23:11] thinkingserious opened #551 "Add the ability to impersonate a subuser"
Please see the [Python implementation](https://github.com/sendgrid/sendgrid-python/pull/314) for an example.

[2017-11-01 00:12] rodenmonte commented on #548
I'd like to claim this issue.

[2017-11-01 04:29] cmckni3 commented on #437
I created a simple xpath version of it to get all text nodes and return the text content. It's at least a start down the road of handling links and other special cases.

[2017-11-01 04:41] cmckni3 opened #556 "Use Dotenv in examples"
#### Issue Summary

Demonstrate and encourage the use of `.env` files being loaded through PHP and using `$_SERVER` or `$_ENV` to avoid race conditions. Will remove the need to have the .env files export.

See https://github.com/vlucas/phpdotenv

#### Steps to Reproduce

N/A

[2017-11-01 05:48] ankitjain28may commented on #546
@mbernier Thanks for reviewing so much PRs and yes, i really like to connect to this organization and help you by making my contributions.

[2017-11-01 07:56] pxgamer commented on #546
Thank you for the opportunity to contribute. :+1:

[2017-11-01 07:58] pxgamer commented on #541
@Rishabh04-02 I guess it's up to them, but fine by me. :+1:

[2017-11-01 13:02] mbernier commented on #546
@ankitjain28may We would love to have you as a part of the community - everything we do in our API libraries makes it easier for another developer to knock an item off their backlog. Things like tests, linter compliance, and even documentation/examples all make a HUGE difference for someone who has a job to get done!

@pxgamer Thank you for trusting us with your time and your code. We have a missi

[2017-11-02 02:24] CostaC commented on #538
Same happening for me but different usage so will post new issue.

[2017-11-02 02:32] CostaC opened #557 "Duplicate emails: 2 emails send for each 1 send"
#### Issue Summary

Emails are being sent twice.  I don't run this in a loop, I just send and exit.

I'm using the code specified at:

https://github.com/sendgrid/sendgrid-php#without-mail-helper-class

The only changes I made to the code was adding my API key, and using the require() instead of the composer autoload method.

I also put an "exit;" after the "$response = ...." line to make sure the

[2017-11-02 02:35] CostaC commented on #557
My code:

`$path = APP.'vendors'.DS.'sendgrid-php'.DS.'sendgrid-php.php';
include_once($path);

$request_body = json_decode('{
  "personalizations": [
    {
      "to": [
        {
          "email": "XXXXXXXXX@gmail.com"
        }
      ],
      "subject": "Sending with SendGrid is Fun"
    }
  ],
  "from": {
    "email": "info@XXXXXXXXXXX.com"
  },
  "content": [
    {
      "type": "text/plain"

[2017-11-02 07:04] ankitjain28may commented on #557
@CostaC hi, What is `APP`, `DS` in `$path = APP.'vendors'.DS.'sendgrid-php'.DS.'sendgrid-php.php';`

[2017-11-02 07:23] samundra commented on #436
Hi @mbernier,

I have a question on this issue. What are the services that should be created in `docker-compose.yml`.

As I see it the only service that should be running is ```prism``` with ```--mock``` argument.

I have added the instruction on how to build the docker image and use it to create container for test purpose.

[2017-11-03 05:18] samundra commented on #556
@cmckni3 I think it's not worth loading the complete library only for loading the env which can be done merely exporting a variable in the environment. Currently you can see the repository contains `.env.sample` that can be copied to `.env`.

So from my side it's :-1:

[2017-11-03 17:19] thinkingserious commented on #556
@cmckni3,

It would be useful to provide this demonstration in our USE_CASES.md file. Would you be up for that?

With Best Regards,

Elmer

[2017-11-03 23:33] cmckni3 commented on #556
That makes sense to me. I probably should have suggested something along those lines. I want to proliferate best practices on the development side.

[2017-11-04 00:18] CostaC commented on #557
APP is the path to my app.  That's not the problem because the emails are being sent, therefore the include path is correct.

[2017-11-04 00:32] thinkingserious commented on #557
Hi @CostaC,

I don’t see anything obvious. What does the code that runs the above snippet look like?

With Best Regards,

Elmer

[2017-11-04 00:49] CostaC commented on #557
This code is the only code in a test function (was testing Sendgrid API since I usually use SMTP which sends 1 email without issues).

Since this is the only place I call the Sendgrid API code and I have an exit directly after the send(), there is no way this function is being called twice.  I'm on my dev machine so this is not production code.  Again, sending via SMTP works fine.

I intentionally

[2017-11-04 01:01] thinkingserious commented on #557
How are you running the code?

[2017-11-04 03:17] CostaC commented on #557
After some digging, it's not the Sendgrid code.   I tried a raw curl POST to requestb.in  and it's receiving 2 POSTs even though I have an `exit;` after the curl_exec().  Very weird.

[2017-11-04 03:17] #557 closed

[2017-11-04 16:59] thinkingserious commented on #557
Thanks for the follow up @CostaC!

[2017-11-07 11:37] nitish24p commented on #546
Thanks @mbernier @thinkingserious  .. Any idea when the tees will be shipped? I'd love to contribute to the node js SDK, if its ok.

[2017-11-07 11:44] sandeep528 opened #558 "base64 inline image in email"
#### Issue Summary

Generating html content based on user inputs, where images are converted to base 64 string. and embedded in email. But when sending email through sendgrid, the images are not shown in email.

#### Steps to Reproduce

{"personalizations": [{"to": [{"email": "sandeep.kollabathina@pwc.com"}]}],"from": {"email": "sandeep.kollabathina@pwc.com","name": "Emaar Properties"},"subject":

[2017-11-07 14:50] mbernier commented on #546
@nitish24p
The hacktoberfest shirts are being counted and hopefully shipped in the next two weeks.

Outside of hacktoberfest, we always give a shirt to a ontributor's first non-hacktoberfest PR that is merged.

[2017-11-08 06:17] ssiddhantsharma commented on #546
It's been a good time contributing to OS with your firm and the support we
(fellow developers) got from SendGrid was just phenomenal.

You guys gave us an incentive of Tees and Swag, and we worked to resolve
issues. I think it's been a great HacktoberFest for all of us, who have
actually given their time and contributed to your repos.

What I was thinking of, is promoting your firm on online media

[2017-11-09 02:43] thinkingserious commented on #538
Hi @elshafey,

Could you please print out your [request body](https://github.com/sendgrid/sendgrid-php/blob/master/TROUBLESHOOTING.md#request-body) so I can try and reproduce?

@CostaC,

Please reference this issue in your new issue.

Thanks!

With Best Regards,

Elmer

[2017-11-09 02:49] thinkingserious commented on #436
Hi @samundra,

Yes, the only service that needs to be running is `prism`.

Thanks!

With Best Regards,

Elmer

[2017-11-09 06:27] thinkingserious commented on #558
Hi @sandeep528,

Do you mind sharing the code that generates that payload?

With Best Regards,

Elmer

[2017-11-09 17:33] thinkingserious commented on #546
Thank you for the kind words @ssiddhantsharma!

We would love to learn more about your experience and possible future collaborations. Could you please schedule a meeting with my manager @mbernier [here](https://calendly.com/matt-bernier/hacktoberfest-follow-up/11-09-2017?back=1)? Thanks!

With Best Regards,

Elmer

[2017-11-10 05:01] ssiddhantsharma commented on #546
Surely will do that. Eager to share my experience with him!

On Nov 9, 2017 11:03 PM, "Elmer Thomas" <notifications@github.com> wrote:

[2017-11-11 16:50] #436 closed

[2017-11-16 16:41] koficypher opened #559 "Template email with personalization causing 400 status"
#### Issue Summary

Using a personalization to send to add a substitution tag in my function gives the following error
{"errors":[{"message":"Additional property type is not allowed.","field":"personalizations.0.to.0.type","help":null},{"message":"Additional property value is not allowed.","field":"personalizations.0.to.0.value","help":null},{"message":"Invalid type. Expected: string, given: objec

[2017-11-24 14:06] josephernest opened #560 "Send both HTML and plain-text"
How to send an email with both plaintext and HTML format? This doesn't work:

[code]

the $content2 seems to be ignored.

I didn't find in the doc how to do this.

[2017-11-24 14:28] josephernest commented on #560
This seems to solve it:

    $contenthtml = new SendGrid\Content("text/html", $bodyhtml);
    $mail->addContent($contenthtml);

[2017-11-25 14:24] josephernest opened #561 "No mail sent when using 2 personalizations"
When I do this, everything works, i.e. mail sent to `test2@example.com` and bcc to `test3@example.com`:

[code]

**However, when I do the following, no mail is sent to anybody. Why?**

[code]

[2017-11-25 14:27] #560 closed

[2017-11-28 03:20] thinkingserious commented on #559
Hello @koficypher,

Can you please provide the JSON request body, per the instructions [here](https://github.com/sendgrid/sendgrid-php/blob/master/TROUBLESHOOTING.md#request-body) under the heading "Viewing the Request Body"? My guess is that one of your input variables is missing.

With Best Regards,

Elmer

[2017-11-28 07:37] thinkingserious commented on #561
Hello @josephernest,

It looks like you need to define a to address for the second personalization. I could tell you for sure if you tell me what the JSON looks like before you make the API call, like [so](https://github.com/sendgrid/sendgrid-php/blob/master/examples/helpers/mail/example.php#L171).

[Here](https://github.com/sendgrid/sendgrid-php/blob/master/examples/helpers/mail/example.php#L22)

[2017-11-28 12:00] josephernest opened #562 "Get notifications via email when an email is opened"
SendGrid can track when the emails are opened:

[![enter image description here][1]][1]

How to get a notification (via email) **when emails are opened**, for which the recipient is different to `myself@gmail.com`? (I don't want to receive a notification when *I open* my own emails sent to myself as BCC).

Do I need to use the SendgridAPI? How? Can I ask Sendgrid to send a notification? (To my ser

[2017-11-28 12:46] josephernest commented on #562
Solved with *Dashboard > Settings > Mail settings > Event notification > HTTP POST URL*.

[2017-11-28 12:46] #562 closed

[2017-11-28 13:04] josephernest commented on #561
Here is what I wanted to do: I wanted to send an email, from PHP:

    From: myself@gmail.com
    To: recipient@yahoo.com

But as I send it from PHP, I won't see it in my usual mailbox (Gmail), so I finally did:

    From: myself@gmail.com
    To: recipient@yahoo.com
    Bcc: myself@gmail.com

**But** I wanted that

1. Recipient receives this:

    From: myself@gmail.com
    To: recipient@yahoo.co

[2017-11-28 13:32] josephernest opened #563 "Enable tracking for a specific email, even if Settings > Tracking > Open Tracking is disabled"
I disabled `Settings > Tracking > Open Tracking` because I don't need it for most emails. (It would modify my email content by adding a tracking pixel, which I don't want enabled for all emails):

![](https://i.stack.imgur.com/KmQ0p.jpg)

**How to enable tracking for a specific email sent via sendgrid-php?**

    $tracking_settings = new SendGrid\TrackingSettings();
    $open_tracking = new SendGr

[2017-11-28 21:24] thinkingserious commented on #562
Thanks for posting the solution @josephernest!

[2017-11-28 21:24] thinkingserious commented on #563
That looks good to me @josephernest. Please let us know if you run into any trouble.

[2017-11-28 21:27] thinkingserious commented on #561
Hi @josephernest,

I think the problem here is that we do not allow duplicate emails in the payload. Perhaps you can do:

`myself@example.com`
`myself+somelabel@example.com`

With Best Regards,

Elmer

[2017-11-29 08:34] josephernest commented on #561
Thanks for your answer @thinkingserious. I've tested with another email but still I can't have this working:

1. Recipient receives this:

        From: myself@gmail.com
        To: recipient@yahoo.com
        ContentHTML:  ...........  <img src="myserver.com/trackpixel.jpg?id=recipient">

2. I see this in my Gmail inbox:

        From: myself@gmail.com
        To: recipient@yahoo.com
        Bcc:

[2017-11-29 12:27] hectorsabina commented on #341
I might be a bit late to the party, but for those still having issues using this lib without composer, try naming classes this way:

`$from = new \SendGrid\Email("Example User", "test@example.com");``

Notice the extra `\` at the beginning. This is to import this class from the global namespace, instead from the one you've defined already for the class you're using this library from (check [php na

[2017-11-29 21:15] thinkingserious commented on #561
Hi @josephernest,

I'm not quite sure about this one so I've added this to my backlog for further review.

In the mean time, you might want to reach out to our [support team](https://support.sendgrid.com) for a likely faster response as I don't believe this is a SDK issue.

With Best Regards,

Elmer

[2017-11-29 21:19] thinkingserious commented on #341
Thanks for the feedback @hectorsabina!

I think your example would be great to put [here](https://github.com/sendgrid/sendgrid-php/blob/master/TROUBLESHOOTING.md). Would you mind submitting a PR?

Thanks again!

With Best Regards,

Elmer

[2017-11-30 20:04] josephernest commented on #563
@thinkingserious Confirmed working.

[2017-11-30 20:04] #563 closed

[2017-11-30 22:52] thinkingserious commented on #563
Thanks for the follow up @josephernest!

[2017-12-04 14:41] Gmulti opened #564 "Timezone on API v3"
Hi,

I have a problem with user profile.
I have all the time a forbidden access whereas I am well "full access" on the configuration of the API

`{"errors":[{"field":null,"message":"access forbidden"}]}`

So, I do not know where to get the "timezone" information from the account with API v3.

An idea ?
Thanks
Gmulti.

#### Technical details:

* sendgrid-php Version: master
* PHP Version: 5.6

[2017-12-06 15:46] brettsantore commented on #558
Is this a quoting issue / misformed JSON? `"value":"<img src="data:image`

[2017-12-06 20:01] jonleslalom commented on #561
i think this might be an issue with the API, as I'm running into the email not sending if i have a bcc recipient along with a to recipient (using the C# SDK) as well

[2017-12-09 07:01] ssiddhantsharma commented on #546
Hey team, any updates when we will be getting our swags!

<https://about.me/siddhantsharma?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>
Siddhant Sharma
about.me/siddhantsharma
<https://about.me/siddhantsharma?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>

On Fri, Nov 10, 2017 at 10:31 AM, Siddh

[2017-12-11 23:46] #541 closed

[2017-12-14 00:57] thinkingserious commented on #564
Hello @Gmulti,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-12-14 00:57] #564 closed

[2017-12-14 01:08] thinkingserious commented on #561
Thanks for the confirmation @jonleslalom! Could you please also reach out to our [support team](https://support.sendgrid.com/) for help on this?

[2017-12-14 01:13] jonleslalom commented on #561
@thinkingserious shoot! forgot to update my comment. I was actually able to get it to work - I was using it incorrectly: I was adding a new personalization similar to the OP, but when you add a personalization with only a BCC entry, the email won't send. The SDK itself could be cleaned up in my opinion, but if you instead add the bcc to mail.personalization[0], it works.

[2017-12-14 02:26] thinkingserious commented on #546
Hi @ssiddhantsharma,

I don't have an exact date, but our swag provider now has all of the new shirts, stickers and pins ready for distribution. You should be receiving an email from KotisDesigns with information on your swag shortly.

With Best Regards,

Elmer

[2017-12-14 06:34] samundra commented on #546
Hi,

does it means we can still change the address for delivery ?

On Thu, Dec 14, 2017, 9:26 AM Elmer Thomas <notifications@github.com> wrote:

[2017-12-14 07:01] thinkingserious commented on #561
Thanks @jonleslalom!

We are working on cleaning up the SDK right now and we love your opinion. If you have a moment, please check out [the proposal](https://github.com/sendgrid/sendgrid-php/issues/413).

With Best Regards,

Elmer

[2017-12-14 07:07] thinkingserious commented on #546
Hi @samundra,

I'm not sure, I would have to check your particular order with our vendor.

Could you please email us at dx@sendgrid.com with your updated information and I can check with our vendor.

With Best Regards,

Elmer

[2017-12-14 18:08] morazain opened #566 "Sendgrid v3 with no Client"
#### Issue Summary

I have tried to use Sendgrid V3. I do not use Composer. I tried to follow the proposed resolution to issue 412 to no avail.

I also find the statement that the doc needs to be updated for non client but there is no time, a but lame and discouraging.

Do I have to use V3?
Will V2 be abandoned any time soon?
Can you give  simple step  example of using V3 without a client?

If the

[2017-12-14 18:19] mbernier commented on #566
1. You don't have to use V3. However, all new functionality will be added to v3.
2. V2 is safe, we have no plans to make that go away.
3. You don't need to use Composer, here is[ the information on how to get the non-composer](https://github.com/sendgrid/sendgrid-php#alternative-install-package-from-zip) package of this library.

[2017-12-17 06:24] morazain opened #567 "Sendgrid issue with personalization in V2"
#### Issue Summary
I have a simple example of trying to send personalized  emails using substitution in V2.
I created the php program below and get the following output. No emails are sent and the response appears to be empty.

****Output****
Header
{"to":["guy@morazain.com","guy.morazain@gmail.com"],"sub":{"|name|":["Guy","Gaston"],"|password|":["1234","4321"]}}
Content:
Dear |name|,

The informa

[2017-12-18 09:26] izhukovich opened #568 "Create personalization in constructor"
I want to send email with personalization and substitution tags, but an empty personalization is created in Mail constructor:

[code]

Then I create one more with substitution tags and add it to mail. Finally I have 2 personalizations and empty emails are sent from time to time.

Now I iterate all existing personalizations and add tags to them, but it is not good solution.
Can you make parameters

[2017-12-19 01:31] thinkingserious commented on #567
Hello @morazain,

v2 support using this SDK is no longer supported. I recommend upgrading to the latest version of this SDK, which supports v3 of our API. While v2 is not deprecated, it will not receive any new features or SDK support.

I will leave this issue open in case someone in the community who is still using v2 may have some insight.

With Best Regards,

Elmer

[2017-12-19 01:43] thinkingserious commented on #568
Hello @izhukovich,

You can add to the initial personalization we create for you in the constructor through this object: `$mail->personalization[0]`.

You may be interested in providing your thoughts on the redesign, which is underway now:
https://github.com/sendgrid/sendgrid-php/issues/434 Your feedback would be very much appreciated!

With Best Regards,

Elmer

[2017-12-19 18:40] morazain commented on #567
Unfortunately I cant get V3 to send out even the simplest email.

I took to the example in your docs, and it does not send out an email.

the output i get is:  0Array ( [0] => )

see attached code
[testV3.zip](https://github.com/sendgrid/sendgrid-php/files/1572833/testV3.zip)

ps: i reported this in 566

[2017-12-19 18:40] #567 closed

[2017-12-19 20:35] ledjon commented on #250
+1 vote for this.

[2017-12-19 23:16] thinkingserious commented on #567
Thanks @morazain,

I will respond on issue 566

[2017-12-19 23:23] thinkingserious commented on #566
Hi @morazain,

Here are the steps I used to install and run SendGrid v3:

[code]

In my editor, I created a file `test.php` with the following contents (code sample obtained from [here](https://github.com/sendgrid/sendgrid-php#hello-email)):

[code]

Note that I already have `SENDGRID_API_KEY` defined as an environment variable

[code]

Email received with a status code of 202.

I hope this helps.

[2017-12-19 23:25] thinkingserious commented on #250
Thanks for the vote @ledjon!

[2017-12-20 15:38] #423 closed

[2017-12-20 19:25] morazain commented on #318
I have created a php test program which sends out the an email to multiple recipients, personalized by recipient.
It's attached for your perusal. Hope you find it useful!
[test3m.zip](https://github.com/sendgrid/sendgrid-php/files/1576779/test3m.zip)

[2017-12-20 19:30] morazain commented on #566
Thank you Elmer.

I have finally succeeded in sending emails in V3. I guess the SDK i had downloaded was not up to snuff.
The latest, you suggested, worked perfectly.

My next move was to modify it to send an email to multiple recipients, personalized by recipients.
Now that I have the right SDK i was able to create that without an issue:)

I have added a comment to #318 with the example below whi

[2017-12-20 19:30] #566 closed

[2017-12-20 19:32] morazain commented on #567
I have succeeded in creating a test program in PHP using the V3.
Attached.
[test3m.zip](https://github.com/sendgrid/sendgrid-php/files/1576792/test3m.zip)

[2017-12-20 21:34] thinkingserious commented on #318
Thank you @morazain!

Would you consider making a PR to [this file](https://github.com/sendgrid/sendgrid-php/blob/master/USE_CASES.md) with your example?

With Best Regards,

Elmer

[2017-12-20 21:54] morazain commented on #318
I would be happy to, but not sure as to how to go about it.

​Is a PR a Pull Request?

Cheers,

Guy Morazain
Follow Me <http://twitter.com/GuyMorazain>

On Wed, Dec 20, 2017 at 1:34 PM, Elmer Thomas <notifications@github.com>
wrote:

[2017-12-21 02:00] thinkingserious commented on #318
Hi @morazain,

Yes, PR means Pull Requests.

If you are new to contributing on GitHub, I highly recommend [this short free course](https://egghead.io/courses/how-to-contribute-to-an-open-source-project-on-github).

With Best Regards,

Elmer

[2017-12-21 21:15] #540 closed

[2017-12-23 01:08] morazain commented on #318
Ok I created the pull request

Cheers,

Guy Morazain
Follow Me <http://twitter.com/GuyMorazain>

On Wed, Dec 20, 2017 at 1:34 PM, Elmer Thomas <notifications@github.com>
wrote:

[2017-12-23 18:56] morazain commented on #318
I'm new to contributing and thought I had created it, but missed a step.
The pull request has now been submitted.

Cheers,

Guy Morazain
Follow Me <http://twitter.com/GuyMorazain>

On Fri, Dec 22, 2017 at 5:08 PM, Guy Morazain <guy@morazain.com> wrote:

[2017-12-23 19:05] morazain commented on #318
Elmer,

I think the Pull Request #569 has been successfully created but there
appears to be one issue.
One check failed:

continuous-integration/travis-ci/pr — The Travis CI build failed

​Am I doing something wrong?

​Regards,

Guy​

​

Cheers,

Guy Morazain
Follow Me <http://twitter.com/GuyMorazain>

On Sat, Dec 23, 2017 at 10:56 AM, Guy Morazain <guy@morazain.com> wrote:

[2017-12-27 13:05] amrendraw3 opened #570 "Unable to send test mail on production AWS EC2"
#### Issue Summary

I am not able to send even [test mail provided here](https://github.com/sendgrid/sendgrid-php#hello-email) from production server that is an Ubuntu machine on AWS. I have open all inbound and outbound ports. I am able to send mail from localhost using the same code.
`echo "Send mail";
$response = $sg->client->mail()->send()->post($mail);
echo "Mail sent";`

I am getting **Send

[2017-12-28 02:40] amrendraw3 commented on #570
I enabled the error reporting and  found the following issue:
**Fatal error: Call to undefined function curl_init()**

I have to enable curl for my php installation. I made it working using installation command on Ubuntu machine.
`apt-get install php7.0-curl` (php 7.0)
`apt-get install php5-curl`  (php 5)

Restart nginx server: `sudo service nginx restart`

[2017-12-28 02:40] #570 closed

[2018-01-02 21:05] thinkingserious commented on #318
@morazain,

No worries regarding the Travis CI build. The PR looks good and is on our backlog for final review.

Thanks!

[2018-01-02 21:15] thinkingserious commented on #570
Hello @amrendraw3,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-01-04 10:33] ocowchun commented on #250
+1 vote for this

[2018-01-04 13:02] ataraxido commented on #250
Could we have an update on this issue ?

[2018-01-04 13:04] flchaux commented on #250
Yes it would be very appreciated !

[2018-01-05 09:11] dudenk commented on #284
i have some problem, so i create new code curl ( manual ) see tutorial sendgrid.
Test and work.
So i delete this lib php. not working for me.

[2018-01-06 22:24] thinkingserious commented on #284
Hi @dudenk,

I'm glad you got it working. If you ever decide to use this lib for future work, please create a new issue and I'll help work through it with you.

With Best Regards,

Elmer

[2018-01-09 09:10] Tzafra commented on #568
+1 for making the parameters optional.

- when using a transactional template both the subject and the content are set by setting the template ID, requiring them in the constructor is confusing and illogical.

- when sending to many recipients it doesn't follow normal processing logic to pull out one of them to use for the constructor and then add the others afterwards.  Also makes things messier

[2018-01-09 19:36] thinkingserious commented on #434
Please see [this comment](https://github.com/sendgrid/sendgrid-php/issues/568#issuecomment-356223737) regarding making parameters optional.

[2018-01-09 19:37] thinkingserious commented on #568
Hi @Tzafra!

This is great feedback and I've added a note to the thread over at #434. Thank you!

[2018-01-10 13:09] stianpr commented on #551
Would be nice to get this in. We currently have to extend the SendGrid class to add the `on-behalf-of` header. And the documentation is clearly wrong because it states that one has to [prefix the username with `subuser_`](https://sendgrid.api-docs.io/v3.0/how-to-use-the-sendgrid-v3-api/on-behalf-of) which doesnt work. Should update the documentation also.

[2018-01-11 18:22] thinkingserious commented on #551
Hi @stianpr!

Agreed! I can't wait until this reaches the top of the backlog.

[2018-01-13 16:46] Chev12 opened #572 "Other API (Contacts, Campaigns...)"
Hi, it's unclear to me if this project includes support for other API than the Send Mail. Does it ? Couldn't find any Roadmap either.

[2018-01-16 15:05] thinkingserious commented on #572
Hello @Chev12,

You can find basic support for all of our endpoints [here](https://github.com/sendgrid/sendgrid-php/blob/master/USAGE.md). Full documentation is located [here](https://sendgrid.com/docs/API_Reference/api_v3.html).

I hope that helps!

With Best Regards,

Elmer

[2018-01-24 10:40] rsukonovs opened #573 "API inconsistencies"
never mind. close this.

[2018-01-24 10:43] #573 closed

[2018-02-06 22:58] geonewuser opened #578 "Email Attachments"
Hello,

We are trying to send an email with an attachment less than 6MB

These are our php settings:

PHP Version 7.0.27

Local and Master Value memory_limit	256M

We are using  SendGrid Web API v3 via PHP

We get the following error:

PHP Fatal error:  Allowed memory size of 33554432 bytes exhausted (tried to allocate 8519680 bytes) in /home/groupean/public_html/sendgrid-php/vendor/sendgrid/php-h

[2018-02-07 00:14] thinkingserious commented on #578
Hello @geonewuser,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-02-07 00:14] #578 closed

[2018-02-09 15:22] simonflore opened #579 "Support: Email actions Markup for Gmail and Google Inbox"
#### Issue Summary

I'm trying to enable Email actions for Gmail and Google Inbox  - [documentation here](https://developers.google.com/gmail/markup/actions/actions-overview) - which should be pretty basic. It appears due to the fact that Sendgrid enforces [Quoted-Printable](https://en.wikipedia.org/wiki/Quoted-printable)

#### Steps to Reproduce

1. Send an email with the REST Api v3 and add emai

[2018-02-09 15:23] simonflore commented on #579
Btw, I'm aware this isn't really related to the PHP Library, but your support service directed me to Github if I wanted feedback from Sendgrid Engineering.

[2018-02-12 12:51] kargirwar opened #580 "Example code not working: Content-Type should be application/json"
Composer:
[code]

On running the hello email example I get following:
[code]

[2018-02-13 01:44] thinkingserious commented on #579
Hi @simonflore,

I don't know what the answer to this is, but I agree with you that it would be awesome to support this. I'm not sure if it's something we can do via the SDK, but I've added it to our backlog for further investigation.

Do you mind sharing the source code you were using for your tests?

Thanks!

With Best Regards,

Elmer

[2018-02-14 20:45] thinkingserious commented on #580
Hello @kargirwar,

Do you mind providing the exact source code you used that generated that error so that I can try to reproduce?

Thanks!

With Best Regards,

Elmer

[2018-02-15 02:39] kargirwar commented on #580
Just this:

[code]

[2018-02-15 11:07] ewirch commented on #263
@papaben I guess you meant to write "it overwrites all the existing scopes" instead of "it overwrites all the existing keys", didn't you?

[2018-02-15 16:57] Productmind commented on #250
@mbernier Any update on your end? We're making our decision currently on transitioning our transactional email service and would prefer to remain with SendGrid but this has been major roadblock for our customers needs.

[2018-02-16 11:49] TakesTheBiscuit commented on #580
@kargirwar Couple of suggestions for you:

1. What is:
`file_get_contents("key")` ?
I suspect that you don't actually have a file called 'key' on your filesystem? in which case change it to
`$sg = new \SendGrid("YOUR_API_KEY_HERE");`
line 14/15 area.

2. I think your name spacing is a bit 'odd'.
If (1) doesn't work, Maybe try this:
[code]

I don't know the context of your code otherwise i'd sugges

[2018-02-16 12:31] kargirwar commented on #580
Were you able to reproduce the problem ? I can reproduce even now.

I copied the code straight from the github readme . Only change was that instead of setting the environment variable I read the key from a file. In any case the response does not say that the key is not valid.

[2018-02-16 13:50] TakesTheBiscuit commented on #580
Using the above code i get output:
[code]

And in my outlook 365 powered inbox i have this email received within about 5 seconds.
Screenshot (proof in the pudding):

![screen shot 2018-02-16 at 13 48 43](https://user-images.githubusercontent.com/15122732/36310503-223ac4a8-1320-11e8-8113-dff383e4bfb0.png)

I should make it clear that i do not work for sendgrid but have been using them for some time

[2018-02-16 15:10] TakesTheBiscuit commented on #580
Final bit from me, the sendgrid php client uses it's own (not guzzlehttp for example), looking at `php-http-client/lib/Client.php` you'll see on line `148` that it uses `curl_init()` - so perhaps you could continue your debug down the road of looking into why CURL is failing you?

[2018-02-17 17:14] thinkingserious commented on #579
Thanks for taking the time on clarifying this, I'm passing this along to our product team.

[2018-02-17 17:18] thinkingserious commented on #250
Hi @Productmind,

I've put in a query and I'll update you when I learn more. Thanks!

[2018-02-17 18:00] thinkingserious commented on #580
Thanks @TakesTheBiscuit,

I think that is a reasonable suggestion. I do recall other customers having issues where there server was not configured to enable CURL support by default.

@kargirwar,

Have you checked your server configuration to ensure CURL support is enabled?

[2018-02-18 00:08] Jericho commented on #551
@stianpr I [asked about the "subuser_" prefix](https://github.com/sendgrid/sendgrid-csharp/issues/634#issuecomment-342010438) and [I was told](https://github.com/sendgrid/sendgrid-csharp/issues/634#issuecomment-342959047) that it's necessary. Your experience seem to indicate that it's not the case so I'm a little confused.

@thinkingserious It would be great if you could settle this question once

[2018-02-19 06:57] stianpr commented on #551
@Jericho @thinkingserious Well, during my testing and implementation of this it only worked without the `subuser_` prefix. It would be nice to clarify this and fix the documentation (or the API) so that we know what to use.

[2018-02-20 08:30] kargirwar commented on #580
@thinkingserious
Yes. I have.

Update: Since everything else looked OK, I thought of creating new SG key. Surprisingly it worked!
Hope the issue does not surface again.

[2018-02-20 23:44] TakesTheBiscuit commented on #561
@josephernest
Did you check out https://github.com/sendgrid/sendgrid-php/blob/7d2540d168b8fbe4d4642243fa7f85decfd471ea/examples/helpers/mail/example.php#L120-L124 ?

To me it looks like you do the above then attach to the mail with:
[code]
?

[2018-02-21 13:09] TakesTheBiscuit commented on #561
Or
[code]

[2018-02-22 19:21] thinkingserious commented on #580
Thanks for following up @kargirwar!

[2018-02-22 20:05] thinkingserious commented on #551
@stianpr @Jericho,

You would replace subuser_ with the actual subuser name.

In our documentation (https://sendgrid.api-docs.io/v3.0/how-to-use-the-sendgrid-v3-api/on-behalf-of) we will be updating `on-behalf-of: subuser_<username>` to read as `on-behalf-of: <username>`.

Thanks!

[2018-02-22 23:04] zanderwar opened #581 "You're not a wizard harry!"
This package feels a little unloved and rushed, given the fact that everything runs through `__call` on `\SendGrid\Client` and return's a `\SendGrid\Response`.. it provides very little in the way of making it developer friendly.

I would much rather, at the very least, see the following all over `Client`

[code]

and a greater improvement would be to define individual response objects and lose the

[2018-02-22 23:06] thinkingserious commented on #581
We agree @zanderwar and an update is underway. [I would love to get your feedback](https://github.com/sendgrid/sendgrid-php/issues/434). Thanks!

[2018-02-22 23:13] thinkingserious commented on #561
@josephernest,

Were you able to get things going?

[2018-02-23 00:46] deenlord commented on #134
apiV3 equivalent?

[2018-02-23 08:00] ankitjain28may commented on #546
@thinkingserious I didnt receive any mail, can you please let me know the status of my swag ?

[2018-02-25 23:08] Paulens007 opened #582 "Not getting emails"
Hello! im new at programing and everything soo, im having this problem on sendgrind and wordpress and woocommerce, i'm not getiing mails (then i make order, in my online shop), and i  i tried everything .... maybe you know how to fix ? check photos i screenshoted my errors

https://imgur.com/a/x8e6i

`
### WordPress Environment ###

Home URL: http://technika.onlinewebshop.net
Site URL: http://tech

[2018-02-27 03:15] thinkingserious commented on #134
[Here](https://github.com/sendgrid/sendgrid-php/blob/master/USE_CASES.md#transactional-templates) you go @deenlord. Thanks!

[2018-02-27 03:32] thinkingserious commented on #582
Hello @Paulens007,

Are you using the Wordpress plugin? If so, [here](https://wordpress.org/plugins/sendgrid-email-delivery-simplified/
) is the correct place to post this issue.

With Best Regards,

Elmer

[2018-02-27 23:06] #582 closed

[2018-02-27 23:06] #581 closed

[2018-02-27 23:07] thinkingserious commented on #581
Refer to #434

[2018-02-27 23:08] #572 closed

[2018-02-27 23:08] #568 closed

[2018-02-27 23:08] #561 closed

[2018-02-27 23:09] #558 closed

[2018-02-27 23:10] #556 closed

[2018-02-27 23:11] #546 closed

[2018-02-27 23:13] #520 closed

[2018-02-27 23:14] thinkingserious commented on #496
Hello @bduave,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-02-27 23:14] #496 closed

[2018-02-27 23:14] #492 closed

[2018-02-27 23:17] #486 closed

[2018-02-27 23:29] #446 closed

[2018-02-27 23:32] #428 closed

[2018-02-27 23:34] #325 closed

[2018-02-27 23:35] #259 closed

[2018-02-28 05:37] lucasnetau opened #583 "PHP7.2 warning with uninitialised $header variable"
#### Issue Summary

In function SendGrid\Email::getHeadersJson a check of the headers array is done with count() to check if any headers have been set. The $headers variable is not initialised in the class definition or in the constructor to an empty array. Since PHP7.2 a warning is generated when count() is performed on a non-countable array. This leads to the log file being spammed on every emai

[2018-02-28 05:38] lucasnetau commented on #583
PHP RFC reference to the change.

https://wiki.php.net/rfc/counting_non_countables

[2018-02-28 19:54] thinkingserious commented on #583
Hi @lucasnetau,

Thanks for reporting this and offering an easy solution!

I've added this to our backlog for implementation.

With Best Regards,

Elmer

[2018-02-28 22:46] ZMelo-Sendgrid commented on #559
Hello @koficypher

We are just reaching out to see if you still need assistance with your issue.

Thanks,
Zach

[2018-03-08 20:12] czmarcos commented on #414
@michalper did you solve this issue?

I'm sending my custom arguments as personalizations/substitutions through the API but I'm not receiving them back with the webhooks as well.

[2018-03-09 06:45] michalper commented on #414
Here is official response from SendGrid. I've forgotten to put it here, but yesterday I received mention from other user.

We've been using substitution tags as unique arguments for ~3 years via "sendgrid/sendgrid": "^4.0". Without them, Your newest API is completely useless for us.

Greetings.

[2018-03-09 19:17] thinkingserious commented on #414
Thanks for the additional detail! I will report this to our product team internally for further investigation.

[2018-03-10 22:09] fterrag opened #584 "Permission denied, wrong credentials when using sendgrid-php 6.0.0 on PHP 7.2.3"
#### Issue Summary

When attempting to call `$sg->client->mail()->send()->post($mail);` per the Quick Start in README.md, I'm receiving the error "Permission denied, wrong credentials". I have verified that the API key I am using is correct and also have tried creating new API keys.

Where it gets interesting is that if I downgrade the sendgrid-php library to version 5.0.0, I'm able to successfull

[2018-03-10 22:20] thedotedge commented on #584
Looks like downstream dependency is properly broken — 2 patches have introduced this regression https://github.com/sendgrid/php-http-client/commit/46dcffa8b1c3ff56acbb78124d9e1e37d70d8c30.

Workaround is to pin `"sendgrid/php-http-client": "3.9.0"`

[2018-03-10 22:26] fterrag commented on #584
@thedotedge makes sense. Thanks!

[2018-03-10 22:31] thedotedge commented on #584
Correction: it's actually 3.8.0 that works, all subsequent version are broken. I wonder if it even makes sense to depend on `"sendgrid/php-http-client": "~3.7"` if downstream is so unstable.

[2018-03-10 22:35] fterrag commented on #584
@thedotedge Pinning to 3.9.0 resulted introduced a notice, but 3.8.0 seems to do the trick. Thanks again.

[code]

[2018-03-10 23:50] thinkingserious commented on #584
@thedotedge @fterrag

Please try php-http-client 3.9.2, that version should be good to go. Thanks!

[2018-03-11 08:30] thedotedge commented on #584
@thinkingserious does it work for you? For me every request was returning 401.

[2018-03-11 09:26] fterrag commented on #584
@thinkingserious I also receive a 401 when using php-http-client 3.9.2. It appears the problem lies on line 195 of Client.php:

[code]

Should probably be changed to:

[code]

I'm not too familiar with the library, so this might not be the best place to address this issue.

[2018-03-11 15:28] thinkingserious commented on #584
@thedotedge,

It was working for me when using `php-http-client` directly. I believe @fterrag found the fix though. When we set `$headers = []` we are overwriting the values coming from `sendgrid-php`. I'm fixing now with 3.9.3.

With Best Regards,

Elmer

[2018-03-11 15:33] #584 closed

[2018-03-11 15:39] thinkingserious commented on #584
Thanks again to everyone on this thread for helping get a fix pushed out quickly.

I have verified that this bug is fixed using 3.9.3 in `sendgrid-php`.

Thanks again!

[2018-03-12 14:13] NothingSethual commented on #250
@thinkingserious any update here? We're in the process of transitioning away from Sendgrid if we can't sort out how to attach ICS emails. Unfortunately, it's becoming crucial to our business needs, despite loving sendgrid.

[2018-03-12 14:25] robinlambert commented on #250
Same thing here!

[2018-03-12 14:49] phansys commented on #584
Related to #585.

[2018-03-12 20:29] thinkingserious commented on #250
Thanks for adding your voice to the issue @NothingSethual and @robinlambert! I've passed along your feedback to our product team.

With Best Regards,

Elmer

[2018-03-13 20:25] jonaswebdev opened #586 "Can't define CURL Option (timeout)"
#### Issue Summary

I'm using the lasted SendGrid-php lib "6.0.0" and saw an issue related to `curl` options.

The method sign of SendGrid/Client constructor Class (file: sendgrid/php-http-client/lib/Client.php) have just 4 input attributes:
`    public function __construct($host, $headers = [], $version = '/v3', $path = [])
`

but the SendGrid constructor Class (file: sendgrid/sendgrid/lib/SendGr

[2018-03-14 17:39] thinkingserious commented on #586
Thanks @jonaswebdev!

Your report is clear and now available for community contribution. I've also added it to our internal backlog for a fix.

With Best Regards,

Elmer

[2018-03-14 17:53] thinkingserious opened #587 "Updates for the new Email Activity API (beta)"
SendGrid has added an API to download information from the Email Activity feed. There are four new endpoints:
* [GET /messages](https://sendgrid.api-docs.io/v3.0/email-activity/filter-all-messages)
* [GET /messages/{msg_id}](https://sendgrid.api-docs.io/v3.0/email-activity/filter-messages-by-message-id)
* [POST /messages/download/](https://sendgrid.api-docs.io/v3.0/email-activity/request-csv)
* [G

[2018-03-15 03:13] valerianpereira commented on #583
Is this resolved? Unable to reproduce / find the file.

[2018-03-15 04:27] lucasnetau commented on #583
Hi, yes this can be closed, I was porting a system over to PHP7.2 and failed to see that the version of the sendgrid client was installing an older version 3.2 locked by composer, surprisingly this one change was all that needed to be done to get it working in PHP7.2

[2018-03-15 04:27] #583 closed

[2018-03-15 22:17] jonaswebdev commented on #586
Elmer,

Great, how can I fix it and send a PR?
https://github.com/sendgrid/sendgrid-php/blob/master/CONTRIBUTING.md right?

[2018-03-16 23:27] alyak46141414 commented on #328
I found that zero may return with curl error
 SSL certificate problem: unable to get local issuer certificate

so need setup certificate for php to use this service , no option to disable

[2018-03-16 23:31] alyak46141414 commented on #341
I found that this happen because sendgrid use extra library that loaded by composer

vendor\sendgrid\php-http-client\

and of course you cannot get these without composer .

basically need two files from it

Client.php
Response.php

[2018-03-18 19:12] morazain commented on #318
Any progress on reviewing my PR 569?

Cheers,

Guy Morazain
Follow Me <http://twitter.com/GuyMorazain>

On Tue, Jan 2, 2018 at 1:05 PM, Elmer Thomas <notifications@github.com>
wrote:

[2018-03-20 16:08] thinkingserious commented on #586
Yes, @jonaswebdev, thanks! Feel free to add comments here if you have further questions.

[2018-03-20 16:17] thinkingserious commented on #341
@alyak46141414,

If you are not using Composer, you can download the relevant files [here](https://github.com/sendgrid/sendgrid-php#alternative-install-package-from-zip).

Thanks!

[2018-03-20 16:18] thinkingserious commented on #318
Not yet @morazain, but soon :)

[2018-03-21 01:02] senorgeno commented on #568
@thinkingserious completely agree with @Tzafra. I am trying to send multiple personalisations and it doesn't make any sense to have to set the first user via the mail constructor. It is also really awkward to then have to edit that personalisation for substitutions. I will look to revert to 5.6 for the mean time.

[2018-03-23 07:09] ruqeebak commented on #557
SendGrid issue: Why am I receiving duplicate copies of email messages, and how do I stop it? I am not using curl request....
Help asap
Thanks

[2018-03-23 08:12] simonflore commented on #579
@thinkingserious Any idea if this is something to be considered?

[2018-03-23 12:33] shrutijathar opened #589 "Sometimes recipient receiving multiple identical emails"
#### Issue Summary

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, code examples.

#### Steps to Reproduce

1. This is the first step
2. This is the second step
3. Further steps, etc.

Any other information you want to share that is relevant to the issue being reporte

[2018-03-23 12:47] bharatvaggu opened #590 "Integration with Lumen\Laravel"
Hi

How to integrate with "Lumen framework". Can you please provide steps?.

Thanks

[2018-03-23 23:35] gusbemacbe opened #591 "SendGrid\Content->__construct Error"
#### Issue Summary

I have copied the simple sample of an example and I have replaced `text/plain` for `text/html`. But it gave an error of `SendGrid\Content->__construct`. Remember I am not using Composer. I have already echoed and exported the SendGrid API key to .env.

#### Steps to Reproduce

1. I have copied the example from this README.md and replaced something:

[code]

2. Here is the error

[2018-03-24 00:08] thinkingserious commented on #591
Hello @gusbemacbe,

I believe [this is the solution](https://github.com/sendgrid/sendgrid-php/issues/425#issuecomment-326439579). Please try it out and let me know how it goes. Thanks!

With Best Regards,

Elmer

[2018-03-24 00:37] gusbemacbe commented on #591
He used Composer and I do not. I do not want to use Composer and copy the whole folder `vendor` to a simple website. If you say I have to use Composer, if I copy only the folder `shark/simple_html_dom` to the website folder, will it work?

[2018-03-24 00:39] gusbemacbe commented on #591
What a waste of time! The package `simple_html_dom` is dead and the user `shark` is dead too.

[2018-03-24 00:39] thinkingserious commented on #591
I don't think you need Composer, just this:

Looks like you need to [enable mbstring](https://devcenter.heroku.com/articles/php-support#extensions). See [here](https://stackoverflow.com/a/25632531) for more detail.

[2018-03-24 00:41] gusbemacbe commented on #425
The package `simple_html_dom` is dead.

[2018-03-24 00:42] thinkingserious commented on #425
Hi @gusbemacbe,

I'm not sure what the relevance of `simple_html_dom` is in this context. The fix here was to enable mbstring.

With Best Regards,

Elmer

[2018-03-24 00:48] gusbemacbe commented on #591
As I have said, this package `simple_html_dom`  is dead and doesn't exist, and I do not use Heroku.

[2018-03-24 01:38] thinkingserious commented on #591
In Ubuntu, I think [this is what you need](https://askubuntu.com/questions/491629/how-to-install-php-mbstring-extension-in-ubuntu). Please take a look and let me know how it works out. Thanks!

[2018-03-24 01:43] thinkingserious commented on #557
Hello @ruqeebak,

What method are you using to send your emails?

[2018-03-24 01:44] thinkingserious commented on #579
@simonflore,

It's on the product teams radar, but to gain priority we need more voices expressing a need/want for this feature. If you happen to know anyone else who may benefit, please encourage them to submit feedback.

With Best Regards,

Elmer

[2018-03-24 01:47] thinkingserious commented on #589
Hello @shrutijathar,

Could you please provide us with some further details? Is it possible to share the code that is causing this problem?

With Best Regards,

Elmer

[2018-03-24 01:48] thinkingserious commented on #590
Hello @bharatvaggu,

Perhaps [this is the information you need](https://sendgrid.com/docs/Integrate/Frameworks/laravel.html)?

With Best Regards,

Elmer

[2018-03-24 03:02] #547 closed

[2018-03-24 07:25] nagi603 commented on #579
Hi @thinkingserious ,

We also ran into this, and are considering replacing sendgrid with frankly anything else that can provide this feature, as other alternatives would be of magnitudes more work, plus of course would require extra work from the users which is never a good thing.

Regards,
 Balázs András Nagy

[2018-03-24 13:41] gusbemacbe commented on #591
I installed it, but it gave another error:

`
401Array ( [0] => HTTP/1.1 401 Unauthorized [1] => Server: nginx [2] => Date: Sat, 24 Mar 2018 13:39:08 GMT [3] => Content-Type: application/json [4] => Content-Length: 88 [5] => Connection: keep-alive [6] => Access-Control-Allow-Origin: https://sendgrid.api-docs.io [7] => Access-Control-Allow-Methods: POST [8] => Access-Control-Allow-Headers: Authoriz

[2018-03-24 20:27] loretoparisi commented on #341
@thinkingserious @hectorsabina I can confirm that even within WordPress 4.5.x this issue could happen due to a missing `\` at beginning, cause the runtime thinks that the namespace is the current one (your plugin's namespace) hence the following code will work if

1) You put in the root folder of your WP plugin the provided `sendgrid-php` unzipped contents within a `sendgrid-php` folder;
2) Add a

[2018-03-25 12:49] FlaviuRadulescu commented on #472
Hello @thinkingserious

do you have an example of how you can add multiple files (PDF) to the same email?

Also, what is the best solution to add to an email plain/text and HTML? I don't see an example in which I can add two mime types.

Thank you,
Flaviu

[2018-03-25 22:38] FlaviuRadulescu commented on #288
Hello @thinkingserious

when I use the code to send to BCC addresses as you suggested ($mail->personalization[0]->addBcc($bcc);)  , I see in the email header the BCC: name added under the Subject. Also, Outlook displays the BCC in the header of the email
![sendgrid bcc](https://user-images.githubusercontent.com/31763056/37880789-992edfc2-3085-11e8-8ca8-41dc36acb3d1.JPG)
. This is the first time wh

[2018-03-26 20:16] thinkingserious commented on #579
Thanks for adding in your vote @nagi603!

[2018-03-26 20:21] thinkingserious commented on #591
Hello @gusbemacbe,

A `401` error relates to authentication. Please verify that your API Key is being set correctly.

Thanks!

With Best Regards,

Elmer

[2018-03-26 20:24] thinkingserious commented on #472
Hello @FlaviuRadulescu,

For adding multiple attachments, please see [here](https://github.com/sendgrid/sendgrid-php/blob/master/examples/helpers/mail/example.php#L78).

You can use [`addContent`](https://github.com/sendgrid/sendgrid-php/blob/master/examples/helpers/mail/example.php#L75) to add additional contents.

I hope that helps!

With Best Regards,

Elmer

[2018-03-26 20:35] thinkingserious commented on #288
Hello @FlaviuRadulescu,

Are you saying that you can see the bcc field when receiving the email in Outlook?

With Best Regards,

Elmer

[2018-03-27 13:25] ruqeebak commented on #557
Hello @thinkingserious
Here is my code for sending mail...

  $message = '<html><body>';
    $message .= '<table rules="all" style="border:1px solid #666;" cellpadding="10">';
    $message .= "<tr><td style='border:1px solid #666;border-collapse:collapse;'><strong>Name </strong> </td><td style='border:1px solid #666;border-collapse:collapse;'>" . trim($name) . "</td></tr>";
    $message .= "<tr><t

[2018-03-27 15:21] thinkingserious commented on #557
Hello @ruqeebak,

As is, this code should only send one email. I think the issue may be that this code is getting called twice. Can you share the logic of the calling code?

With Best Regards,

Elmer

[2018-03-27 18:13] ruqeebak commented on #557
Hello,

Thanks for your response,
This code is in Mail_send.php file, and I am calling this code through AJAX call.

Here is AJAX method ..

$.ajax({
            type: "POST",
            url: "Mail_send.php",
            data: { formname: formname, name: name, mobile: mobile, email: email, city: city, date: date },
            datatype: "html",
            success: function(result){

[2018-03-27 18:20] #586 closed

[2018-03-27 22:14] FlaviuRadulescu commented on #288
Yes, I have attached a picture. Can you see it?

[2018-03-28 02:33] kabkee commented on #538
It happens the same to me as well. However checking out the request body, I got to know that I add $to twice like the below.

first one.
$mail = new SendGrid\Mail($from, $subject, $to, $content);

and second one.
$personalization = new SendGrid\Personalization();
$personalization->addTo($to);

It sends twice because I added twice.
Please check if yours works as like mine does.

[2018-03-28 19:48] thinkingserious commented on #557
Hello @ruqeebak,

I suspect the click event is being triggered twice. [Here is some guidance](https://stackoverflow.com/questions/6731894/click-event-is-calling-twice-in-jquery) on how to debug.

With Best Regards,

Elmer

[2018-03-28 19:53] thinkingserious commented on #288
Hello @FlaviuRadulescu,

I'm not sure what the issue is here. Could you please open up a new issue so that I may add this to my backlog for further review and also possibly get some insight from our PHP community?

Thanks!

Elmer

[2018-03-28 19:55] thinkingserious commented on #538
Thanks for providing some additional feedback @kabkee!

[2018-03-29 15:51] gemal opened #592 "CRLF will be replaced by LF in prism_linux_amd64"
[code]
using version 6.2.0

[2018-03-30 21:48] gusbemacbe commented on #591
I copied the correct API key and sourced the env files. But it is still invalid.

[2018-03-30 22:03] gusbemacbe commented on #591
I am confused.

Do I keep `$apiKey = getenv('SENDGRID_API_KEY');` or replace for `$apiKey = getenv('SG.ob4w0...');` or `$apiKey = getenv('ob4w0...);`

[2018-03-30 23:11] gusbemacbe commented on #591
I found the solution from the tutorial, I had to replace `$apiKey = getenv('SG.ob4w0...');` for `$apiKey = 'SG.ob4w0...';` and it worked.

[2018-03-30 23:44] gusbemacbe commented on #591
The problem is that the PHP main file doesn't find the file `.env`. I placed two files `.env` and `sendgrid.env` in the home folder of a site and also inside the folder `sendrgid-php` and I sourced. Finally nothing worked. I did it during three days.

[2018-03-30 23:47] thinkingserious commented on #591
What OS are you using?
What hosting provider are you deploying to?

Generally, you set the environment variable at the OS level, outside of the scope of your code.

[2018-03-30 23:57] gusbemacbe commented on #591
* Ubuntu 16.04 64bits on a Mac mini 2011 Mid and on a HP EliteBook
* [Locaweb](https://locaweb.com.br) - a Brazilian host
* PHP 7.2
* Installed and enabled extensions: curl, soap, intl and mbstring

![example of sendgrid](https://user-images.githubusercontent.com/2257024/38157361-9cff6272-345c-11e8-8f7f-42ecc8f49e03.png)

[2018-04-02 09:17] loretoparisi opened #593 "Fatal error: Cannot declare class SendGrid\Email, because the name is already in use"
Hello,
I'm using the SendGrid API in Wordpress. As soon as I install the Sendgrid widget plugin I get this error

[code]

I have tried to check the class existance in this way:

[code]

I have found this way to check the plugin in the "Caldera" wordpress plugin here https://github.com/CalderaWP/Caldera-Forms/commit/004a069bf6edb61d8e7bda2774128ff312394256#diff-c21b436023d2e0e85ea940ce6c7bbbfc

So,

[2018-04-02 14:15] ssiddhantsharma commented on #482
Elmer, Can I use the official Dropbox API to get the work done!
It will take some time to figure it out but the official API has several tools that can help.

[2018-04-02 14:50] ssiddhantsharma commented on #497
**## We can use {rfc822.php} to validate email, it is a good workaround and works fine on my system.**
(Credits to original author @iamcal)

[](url) https://github.com/iamcal/rfc822/blob/master/rfc822.php

`require_once "ref822.php"
if(is_valid_email_address("email..")){
    //valid
}`

[2018-04-02 18:00] thinkingserious commented on #592
Hello @gemal,

Thanks for reporting this!

@pytlesk4,

Any insights on this one? Would the new version of prism fix this?

[2018-04-02 18:08] thinkingserious commented on #591
Please reach out to Locaweb to find out how to set environment variables on their system.

For local development, what happens when you execute the following from the command line? `echo $SENDGRID_API_KEY` You should see your SendGrid API Key returned. If so, then using `getenv('SENDGRID_API_KEY');` from your PHP app should work. If you did not see your SendGrid API Key returned, you need to do `e

[2018-04-02 18:18] thinkingserious commented on #593
Hello @loretoparisi,

The plugin will not check for an existing SendGrid SDK installation. I don't believe the plugin was designed with this use case in mind.

Perhaps you can install the plugin and then access the SendGrid SDK through the plugin, since the plugin includes the SendGrid SDK.

With Best Regards,

Elmer

[2018-04-02 18:20] thinkingserious commented on #482
Hi @ssiddhantsharma,

Yes, but in that case, please describe the usage in USE_CASES.md rather than incorporating that dependency in the SDK.

Thanks!

With Best Regards,

Elmer

[2018-04-02 18:30] gusbemacbe commented on #591
They use Windows 2012. But we'll talk to them.

I have already exported it via terminal before, and it is still the same authorisation error.

I am going to test on my macOS.

[2018-04-02 19:38] loretoparisi commented on #593
@thinkingserious thank you, maybe I can try to use it from the plugin SDK, in that case, will I have to access through global objects?

[2018-04-02 20:13] pytlesk4 commented on #592
Strange, I don't think this is something with prism, looks like git is trying to convert the line endings.

https://lexsheehan.blogspot.com/2014/05/warning-crlf-will-be-replaced-by-lf-in.html

[2018-04-02 20:52] thinkingserious commented on #592
Thanks for the update @pytlesk4!

[2018-04-02 20:56] thinkingserious commented on #593
HI @loretoparisi,

I'm not sure, I don't have any experience with the SendGrid Wordpress Plugin.

[2018-04-03 05:27] gusbemacbe commented on #591
I have tested, but it gave an error: `Notice: Undefined variable: apiKey in /Users/gusbemacbe/Sites/Atlética UNISAL/3ª versão D/contacto-sendgrid.php on line 640`

I placed `sendgrid.env` and `.env` in the home/user folder and also in the site folder and it gave the same error.

[2018-04-03 05:30] gusbemacbe commented on #591
Ah, I fiex because I forgot of putting $apiKey, but it also gave the same error: `{"errors":[{"message":"Permission denied, wrong credentials","field":null,"help":null}]}`

It is probable that it be the server of Locaweb.

[2018-04-03 06:38] gusbemacbe commented on #591
Although PHPMailer and SendGrid, I understood what happened.

Without `getenv('SENDGRID_API_KEY');` of SendGrid and SMTP of PHPMailer, it works, the e-mails can be sent, but are classified as spams. As I upgraded the version of PHPMailer, I had to put SMTP. With `getenv('SENDGRID_API_KEY');` of SendGrid and SMTP of PHPMailer, the e-mails are classified as insecure and can't be sent due to Loacweb'

[2018-04-03 11:17] amrsawy commented on #250
I can see this thread going on for more than a year with no clear timeline for fixing the issue!
So what's the point of voting?

[2018-04-03 13:40] ledjon commented on #250
@amrsawy I agree.  Our organization switched to Amazon's SES because of this problem.  It has it's own restrictions and trade-offs but this worked correctly and was critical to our business needs.

[2018-04-03 16:18] thinkingserious commented on #250
Thanks for the votes @amrsawy and @ledjon!

I'm working to get this issue visibility and implementation internally. Each time I get a new vote or comment, that allows me to increase that visibility and hopefully push it up our priority queue.

[2018-04-03 16:27] thinkingserious commented on #591
Thanks for keeping us updated. Please let me know what Locaweb tells you.

[2018-04-04 01:57] Petah opened #595 "SendGrid\Client not found"
#### Issue Summary

After upgrading I get an error `Class 'SendGrid\Client' not found` when calling `new SendGrid`

https://github.com/sendgrid/sendgrid-php/blob/master/lib/SendGrid.php#L53

[2018-04-04 02:01] Petah commented on #595
Never mind, looks like composer just didn't update correctly.

[2018-04-04 02:01] #595 closed

[2018-04-05 17:31] vinuf666 commented on #23
I got it working this way though it does not fix the issue with the underlying PHP library issue.Sharing code in case anyone gets stuck trying to add BCC with a mail having attachment.

`
<?php
$url = 'https://api.sendgrid.com/';
$user = 'yourusername'; //replace with sendgrid username
$pass = 'password'; //replace with sendgrid pass
$fileName = 'license.txt'; //the file to attach
$filePath = dirn

[2018-04-05 17:38] rbalassa opened #596 "Percent Symbol in html message causing Json Encoding Error when using postRequest to create a new Sendgrid campaign"
When I try to create a new Sendgrid campaign by sending a postRequest, I get a system error "Unable to parse response body into JSON" in "sendgrid-php/lib/SendGrid.php(140):"

After several hours of debugging, I noticed that this only happened when I had % signs into the html code of the email. When I remove the html code, the JSON is parsed without any issue.

Here is a sample code I'm using to r

[2018-04-05 18:51] thinkingserious commented on #596
Hello @rbalassa,

I believe it's a matter of encoding the HTML, [like so](https://stackoverflow.com/a/4783070).

With Best Regards,

Elmer

[2018-04-05 20:58] rbalassa commented on #596
Thanks Elmer for the reply.

I tested the htmlspecialchars function, and the result is not what is expected. The html is converted completely, but the % stay the same.

`&lt;html&gt;&lt;head&gt;&lt;title&gt;&lt;/title&gt;&lt;/head&gt;&lt;body&gt;&lt;div style=&quot;width:100**%**&quot;&gt;Check out our spring line!&lt;/div&gt;&lt;/body&gt;&lt;/html&gt;`

So still the same problem.

Any other idea?

[2018-04-05 21:24] rbalassa commented on #596
Yes, I need to json_encode the string before adding to the array, but the percent symbols is still an issue. When I remove the %, it parses correctly.

[2018-04-06 04:35] thinkingserious commented on #434
Hello Everyone!

@COil @zanderwar @caseyw @izhukovich @Tzafra @senorgeno @vitya1 @Braunson @cbschuld @paoga87 @Taluu @mazanax @ninsuo @ianh2 @WadeShuler @jaimehing @KnightAR

Development on the SendGrid PHP Mail Helper Refactor is underway on [this branch](https://github.com/sendgrid/sendgrid-php/tree/v7). The example in `sendmail.php` is currently working on that branch.

The next step over the n

[2018-04-08 10:34] martijnmelchers opened #597 "Function mail doesn't exist"
Hi,

alot of functions in the SendGrid class result to undefined this makes code completion not work and it makes the library ugly. Is there any way to fix those errors?

![0c1488910fb5e0a829a7f05d3 1](https://user-images.githubusercontent.com/6060006/38466425-1373faf8-3b29-11e8-81e3-fb06a9ef28dc.png)
![45cd35df5deb5e0a4adb3a9b5 1](https://user-images.githubusercontent.com/6060006/38466432-318e462

[2018-04-09 19:24] thinkingserious commented on #596
Hi @rbalassa,

I have added this to our backlog for further investigation.

[2018-04-09 19:47] thinkingserious commented on #597
Hello @martijnmelchers,

Can you tell me how you installed the SDK please?

Also, updates to this SDK are [on the way](https://github.com/sendgrid/sendgrid-php/issues/434) to improve the DX, hopefully I can get version 7 out by next week. That should help.

With Best Regards,

Elmer

[2018-04-09 19:50] martijnmelchers commented on #597
Hi @thinkingserious,

it works but it doesn't look good in the editor. this could be solved by adding the function to the sendgrid client

I was also wondering is it possible to send a template without a "content" tab? It's kinda useless for templates...

[2018-04-09 20:17] martijnmelchers commented on #597
@thinkingserious

Ok! I have figured out how to fix the issue!

It's actually a problem with [php-http-client](https://github.com/sendgrid/php-http-client). Adding the following (using PHPDoc) will fix the issue. It seems like there is almost no documentation.

`Mail.php`
![3d8ddbdbc60c1105ab8a4f0a8 1](https://user-images.githubusercontent.com/6060006/38520521-5510d2c2-3c43-11e8-8805-6669c5d3cb71.

[2018-04-09 20:40] thinkingserious commented on #597
That would be amazing @martijnmelchers!

[2018-04-09 21:46] martijnmelchers commented on #597
Added alot of methods, might not be the best way but let me know! [#98](https://github.com/sendgrid/php-http-client/pull/98) Will document this library more tomorrow. It's too bad everything uses `__call()` makes everything messy!

[2018-04-09 21:59] #597 closed

[2018-04-10 00:27] martijnmelchers opened #598 "Better documenting the code"
Hi! This library is awesome but the documentation isn't really great. 👎  so I had the idea of documenting the whole codebase (only inline for now) for release v7! I don't know what the release date for v7 is but I will try to get it all documented before the release. You can track my progress here:
https://github.com/martijnmelchers/sendgrid-php/tree/v7
And see what I've done so far here: https://

[2018-04-10 10:27] martijnmelchers commented on #598
Ok! So documenting the code is going great! But in the future (Starting V7) I would like to maintain the wiki. I will make a start in the `/wiki/` folder. I will add some examples that work with V7 and when functions deprecate we should probably keep them for the first minor release.

Example: V7 deprecates the function `getTest()`

Code in V7:
[code]

This will make it show up like so:
![eecb448e

[2018-04-10 15:11] craigalways opened #599 "Unable to display Apple Mac Mail attachments inline"
I am having problems displaying attachments to Mac Mail users correctly inline. SendGrid enforces providing a Content ID for attachments that are inline.

This error is returned if you do not supply a content_id for inline attachments.
`The content_id parameter is required if disposition = 'inline'.`

### Normal inline presentation
Example raw message that display attachements inline correctly. No

[2018-04-10 15:55] martijnmelchers commented on #599
Hi!

I am not from the SendGrid team but I will try to solve your problem! 👍

First of all: `sendgrid-php` version 3.9.3 doesn't seem to exist in this library. You should update to the latest version as this might already solve your problem. Assuming you are using the v3 API:

The SendGrid documentation states;

This means you can use this for an image for example.

Let say you have an image and y

[2018-04-10 18:12] craigalways commented on #599
Hi @martijnmelchers, Thanks for taking a look.

The version number should be 6.0.0 sorry, which is using V3 API.

For images, this works great but this doesn't work for PDFs.

I have a support case open with SendGrid as it's a server response.

There might be a library workaround.

Thank,

 Craig

[2018-04-10 18:31] thinkingserious commented on #598
Hello @martijnmelchers,

Instead of using the wiki, we have been utilizing these documents:

[USAGE.md](https://github.com/sendgrid/sendgrid-php/blob/master/USAGE.md)
This is autogenerated form our [Open API spec](https://github.com/sendgrid/sendgrid-oai), which also powers our [interactive docs](https://sendgrid.com/docs/API_Reference/api_v3.html). Similarly, we also generate the code in the `/ex

[2018-04-10 20:16] thinkingserious commented on #599
Hello @craigalways,

To imbed a PDF inline, I believe the only option would be to convert it to an image.

With Best Regards,

Elmer

[2018-04-11 09:08] craigalways commented on #599
Ok, my brain is starting to hurt now.

Adding this <!DOCTYPE html> to the start of the HTML email body content fixes the issue.

Thanks for your help.

Regards,

Craig

[2018-04-11 11:50] acronwright opened #600 "Email send rate"
I have a system that requires up to 7000 email be sent.
The content of the emails is stock market research and the clients are traders, business analysts etc.
The requirement is that all the emails be sent at the same time. Due to the different clients being on different infrastructure, we can't guarantee that they'll all receive the emails at the same time.
Using the batch email method what is th

[2018-04-11 12:01] martijnmelchers commented on #599
@craigalways What exactly did you do so people who find this thread later know how to fix it!

Thanks!

[2018-04-11 12:10] martijnmelchers commented on #600
This issue isn't specifically for this library but according to SendGrid their servers should be able to handle it easily. If you want a more specific answer you should try to contact the SendGrid support.

[2018-04-11 12:33] acronwright commented on #600
Thanks for the reply. I've been trying to find this out and posted here as a last resort. Must be missing something but can't even find an email address for SendGrid.

[2018-04-11 13:11] martijnmelchers commented on #600
@acronwright

When you log in into your SendGrid account you can make a support ticket here: https://support.sendgrid.com/hc/en-us

The rest should speak for itself :)

[2018-04-11 13:32] craigalways commented on #599
@martijnmelchers, sorry GitHub removed the HTML tag from my comment I have escaped the brackets now.

[2018-04-11 17:42] thinkingserious commented on #600
Hello @acronwright,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-04-11 17:42] #600 closed

[2018-04-12 08:27] BerkhanBerkdemir commented on #425
If you are working with Heroku you need to add to your `composer.json` file

[code]

This comment added according from this [comment](https://github.com/sendgrid/sendgrid-php/issues/425#issuecomment-326439579)

[2018-04-13 22:44] thinkingserious commented on #425
Thanks for the concrete example @BerkhanBerkdemir!

[2018-04-16 12:25] bharatvaggu opened #601 "Undelivered email details"
Hi

Can you please tell me, how to get details of undelivered emails.

Thanks

[2018-04-16 22:36] thinkingserious commented on #601
Hello @bharatvaggu,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-04-16 22:36] #601 closed

[2018-04-27 23:21] jmiertschin opened #602 "Authorization required when adding a contact"
#### Issue Summary

I'm trying to add recipients to the contactsdb and I'm getting the following message saying authorization is required.

[code]

Here's my code:

[code]
I'm fairly confident that my API Key has the proper permissions because I am able to successfully add contacts using this same API Key with a curl request, such as this (I'm of course hiding my API Key):

[code]

Is there someth

[2018-05-02 16:47] sadranyi commented on #348
Same issue here on IIS

[2018-05-02 20:48] thinkingserious commented on #602
Hello @jmiertschin,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-05-02 20:48] #602 closed

[2018-05-02 20:51] thinkingserious commented on #250
Hello @sugoireed,

No, this feature is not get been implemented; however, your vote has been added. Thanks!

[2018-05-03 00:12] thinkingserious commented on #348
Hello @sadranyi,

Have you checked your php.ini to ensure you have php-curl enabled?

With Best Regards,

Elmer

[2018-05-03 05:31] preshboy commented on #341
I am testing my locally. Is that the problem that I have? Do I need to take it to a live server?

[2018-05-03 21:35] thinkingserious commented on #341
Hello @preshboy,

What error are you seeing?

With Best Regards,

Elmer

[2018-05-03 21:46] sadranyi commented on #348
Yes I have

On 2 May 2018 at 17:12, Elmer Thomas <notifications@github.com> wrote:

[2018-05-03 22:02] martijnmelchers commented on #348
Hi @sadranyi

Are you running a Windows PHP distribution? If so read [this](https://snippets.webaware.com.au/howto/stop-turning-off-curlopt_ssl_verifypeer-and-fix-your-php-config/) article on how to fix it. Have a nice evening!

[2018-05-03 22:17] sadranyi commented on #348
yes am running a windows distro in IIS.
Will look at the link

On 3 May 2018 at 15:02, Martijn Melchers <notifications@github.com> wrote:

[2018-05-03 22:30] sadranyi commented on #348
It works fine if i deploy in Xampp, but returns 0 when i run the same code
in IIS

On 3 May 2018 at 15:17, Samuel Adranyi <sadranyi@gmail.com> wrote:

[2018-05-04 15:55] baynera commented on #250
Please resolve this.

[2018-05-04 23:49] thinkingserious commented on #348
@sadranyi,

Have you tried the steps in the link provided by @martijnmelchers?

[2018-05-04 23:52] thinkingserious commented on #250
Thanks for the vote @baynera.

[2018-05-08 09:49] simonflore commented on #579
@thinkingserious Pretty sure this isn't the place to get those votes and it's something your product team should be able to get their head around.

[2018-05-08 17:14] thinkingserious commented on #579
Hello @simonflore,

Every vote added here is passed along to our product team.

For a more direct vote, a submission to our feedback form at SendGrid.com is an option.

With Best Regards,

Elmer

[2018-05-11 23:48] asfo commented on #580
I'm having this issue too...

The key change doesn't works for me...also, I'm not using "getenv()" instead I use my key in a string...is that bad way to do it? (I just checked and everything seems right to the example you include at the README)

[2018-05-15 02:59] thinkingserious commented on #580
Hello @asfo,

We advise against including your key as a string in the code because that increases the chance a bad actor may obtain your API key.

To further help:

1. How did you install the SDK?
2. What version of the SDK are you using?
3. What version of PHP are you using?
4. Can you provide any details regarding the server you are using?
5. Can you verify your key is valid by trying a sample c

[2018-05-15 04:42] asfo commented on #580
Thanks for your answer @thinkingserious

I know, but I was just testing the library in a script.

1.- I installed it using Composer
2.- Lastes
3.- 7.2 (also tested on 7.0 and 5.6)
4.- Nginx + PHP-FPM in the versions above
5.- Yes, we already have this key working on another script in NodeJS

Also, I need to add that I used the second example, and this is not working at all with the same issue the

[2018-05-15 19:20] robapavas opened #603 "Message won't send when attachment is present"
Issue Summary

im using sendgrid for sending mails. when i attach a file (pdf or doc) i can't send it. when i comment on the $attachment it sends succesfully. when i use localhost it does attach the file and send correctly. i don't get any errors or warnings. the $response i use for debug doesn't appear either. here is the code im using

require 'vendor/autoload.php';

$name = $_POST['Name'];
$ema

[2018-05-16 03:09] thinkingserious commented on #580
Hello @asfo,

If I'm understanding correctly, your issue is resolved by using the first example? If not, could you please provide the source code that is broken so that I can try to reproduce?

Thanks!

With Best Regards,

Elmer

[2018-05-16 18:04] robapavas commented on #603
i used that example and it works in localhost. can you explain a little more?

[2018-05-16 19:44] asfo commented on #580
@thinkingserious yes it got fixed using the first example.

So technically the SDK works but the second example is wrong, so I don't know if is an internal issue (from the SDK) or the example is wrong.

Hope that helps.

[2018-05-17 00:12] thinkingserious commented on #603
[code]

[2018-05-17 00:15] thinkingserious commented on #580
Thanks for clearing that up @asfo!

I'll leave this issue open so that I can try to reproduce that error using the Without Mail Helper Class example.

[2018-05-17 01:59] asfo commented on #580
@thinkingserious Super, thank you!...

[2018-05-17 16:38] thinkingserious commented on #598
Hello @martijnmelchers,

I'm really close to launching v7 and I've added phpDocs everywhere (Big thanks for your help getting this started, you saved me a bunch of time!), please re-submit your PR when I merge v7 to master. Thanks!

With Best Regards,

Elmer

[2018-05-17 16:40] #599 closed

[2018-05-17 17:26] tedterrill commented on #250
I need this, too.

[2018-05-17 21:28] robapavas commented on #603
i have changed it to
	$file = 'file1.pdf';
	$file_encoded = base64_encode(file_get_contents($file));
	$attachment = new SendGrid\Attachment();
	$attachment->setContentPath($file_encoded);
	$attachment->setType('application/pdf');
	$attachment->setDisposition("attachment");
	$attachment->setFilename("file1.pdf");

now is worse. i can't even send it through localhost.

[2018-05-17 23:06] robapavas commented on #603
well i manage to work it out

ill leave the code:

	try {

    // Undefined | Multiple Files | $_FILES Corruption Attack
    // If this request falls under any of them, treat it invalid.
    if (
        !isset($_FILES['upfile']['error']) ||
        is_array($_FILES['upfile']['error'])
    ) {
        throw new RuntimeException('Invalid parameters.');
    }

    // Check $_FILES['upfile']['error']

[2018-05-17 23:29] thinkingserious commented on #250
Thanks for the votes @tedterrill and @abhilashabhatia!

[2018-05-17 23:30] thinkingserious commented on #603
Thanks for sharing your solution @robapavas!

[2018-05-17 23:30] #603 closed

[2018-05-18 19:13] NothingSethual commented on #250
@thinkingserious, how many votes do we need to get some action on this? Know you guys are busy but dang, it's been two years!

[2018-05-19 16:32] #413 closed

[2018-05-19 16:32] #434 closed

[2018-05-19 17:17] thinkingserious opened #605 "Add unit tests for each function in /lib/mail"
#### Issue Summary

The tests should be added in [/test/unit](https://github.com/sendgrid/sendgrid-php/tree/master/test/unit) for each function in [/lib/mail](https://github.com/sendgrid/sendgrid-php/tree/master/lib/mail).

[2018-05-19 17:21] thinkingserious opened #606 "Increase the number of tests for each existing unit test"
#### Issue Summary

For the following tests, we should increase coverage by adding tests for failure cases, edge cases, different types of valid inputs, etc.

- https://github.com/sendgrid/sendgrid-php/blob/master/test/unit/KitchenSinkTest.php
- https://github.com/sendgrid/sendgrid-php/blob/master/test/unit/MailHelperTest.php
- https://github.com/sendgrid/sendgrid-php/blob/master/test/unit/Multipl

[2018-05-19 17:24] thinkingserious opened #607 "Refactor the Mail class to adhere to DRY principles"
#### Issue Summary

For an example, please see `[addRecipientEmail](https://github.com/sendgrid/sendgrid-php/blob/master/lib/mail/Mail.php#L193)`. That method consolidates much of the functionality of the `addTo`, `addCc` and `addBcc` methods. We should similarly combine functionality where appropriate in this code base as several of the getters/setters share similar functionality.

[2018-05-19 17:28] thinkingserious opened #608 "Ensure text/plain is always the first object among multiple Content objects"
#### Issue Summary

The SendGrid API requires that a MimeType of "text/plain" should always be first in an array of Content objects, when specified. Our examples currently demonstrate this, but we should ensure that this is the case in the SDK in the event that someone sets "text/html" (for example) as the first Content object. The update should be made in the Mail object, [getContents](https://gi

[2018-05-19 17:30] thinkingserious opened #609 "Add objects to the variables in the Attachment Object"
#### Issue Summary

See the private variables [here](https://github.com/sendgrid/sendgrid-php/blob/master/lib/mail/Attachment.php). The [TrackingSettings](https://github.com/sendgrid/sendgrid-php/blob/master/lib/mail/TrackingSettings.php) object can be used as an example of how to do this.

[2018-05-19 17:35] thinkingserious opened #610 "Remove unnecessary linter warning from phpcs"
#### Issue Summary

Here are the warnings we should remove:

- private variables needing to be prefixed with an underscore
- @category tag in file comment
- @category tag in class comment
- @author tag in class comment
- @license tag in class comment
- @link tag in class comment

[2018-05-19 17:38] thinkingserious opened #611 "Detect if an attachment is Base64 encoded, if not, automatically encode it"
#### Issue Summary

This should be done in the `[setContent](https://github.com/sendgrid/sendgrid-php/blob/master/lib/mail/Attachment.php#L78)` method of the Attachment object.

[See here for an example](https://github.com/sendgrid/sendgrid-php/blob/master/USE_CASES.md#attachments).

[2018-05-19 17:41] thinkingserious opened #612 "Add type validations to each setter and implement SendGrid custom exceptions"
#### Issue Summary

The correct types should be documented in phpdoc format already in the source code, but [this documentation](https://sendgrid.com/docs/API_Reference/api_v3.html) can be used to double check the types. If the type is incorrect we should throw a custom exception.

This feature should be added to the objects [here](https://github.com/sendgrid/sendgrid-php/tree/master/lib/mail).

[2018-05-19 17:45] thinkingserious opened #613 "Create MimeType constants for the Attachments object"
#### Issue Summary

Here is an [example](https://github.com/sendgrid/sendgrid-php/blob/master/lib/mail/MimeType.php). The MimeTypes should be defined .in a new file /mail/AttachmentMimeType.php. Please use [this list](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types).

[2018-05-19 17:47] thinkingserious opened #614 "Harden the addRecipientEmail function"
#### Issue Summary

Let's have this function handle malformed personalization input better. [See here](https://github.com/sendgrid/sendgrid-php/blob/master/lib/mail/Mail.php#L223) for a description.

[2018-05-19 17:51] thinkingserious opened #615 "Add personalization management under the hood for the `addTos` method"
#### Issue Summary

When calling multiple `addTo` with substitutions, we should not have to specify the personalizationIndex [like so](https://github.com/sendgrid/sendgrid-php/blob/master/USE_CASES.md#transactional-templates) (see the second example).

[2018-05-19 17:53] thinkingserious opened #616 "Add personalization index tests to the KitchenSink tests"
#### Issue Summary

Add tests with 2 and 3 personalizations [here](https://github.com/sendgrid/sendgrid-php/blob/master/test/unit/KitchenSinkTest.php) and update the [USE_CASES.md](https://github.com/sendgrid/sendgrid-php/blob/master/USE_CASES.md#kitchen-sink) file to include these examples.

[2018-05-19 17:55] thinkingserious opened #617 "Improve the examples in the /examples directory to include try/catch and better printing."
#### Issue Summary

We currently have [this](https://github.com/sendgrid/sendgrid-php/blob/master/examples/accesssettings/accesssettings.php#L17), let's update to [this](https://github.com/sendgrid/sendgrid-php/blob/master/USE_CASES.md#single-email-single-recipient).

[2018-05-19 18:31] thinkingserious commented on #250
Hi @NothingSethual,

Unfortunately, I don't have a concrete answer to that. But, I can say that each vote helps and I will use your comment as one more means to help get this prioritized.

With Best Regards,

Elmer

[2018-05-19 20:12] martijnmelchers commented on #611
@thinkingserious

I could make this, but how would we detect if an attachment is base64 encoded?

[2018-05-19 20:39] thinkingserious commented on #611
@martijnmelchers,

Thanks for offering to take this on!

I don’t know the best way to do this yet and I’m open to suggestions.

A quick search on the web reveals a bunch of solutions, but not foolproof.

In the end we should be sure to return an exception if the SendGrid API rejects the encoding.

With Best Regards,

Elmer

[2018-05-20 22:23] martijnmelchers opened #619 "Invalid inline documentation"
Hi, nice work on the inline commenting although some mistakes have been made! Easily fixable and will probably send a pull-request to fix it soon.

The variables you comments with `//` but those also have to be done with `/**/` or PHPDoc won't accept them.

Shown below:

![1c320eb43040ce81a01c0e2d7 1](https://user-images.githubusercontent.com/6060006/40284282-156f46fc-5c8d-11e8-848f-d29f93dc9476.p

[2018-05-20 22:29] #598 closed

[2018-05-21 05:07] michalper commented on #414
Hi @thinkingserious,
can we send Substitution Tags as Unique Arguments using 7.x ?

[2018-05-22 01:53] thinkingserious commented on #619
Thanks @martijnmelchers!

What tool are you using to catch those errors? phpcs did not catch those :(

With Best Regards,

Elmer

[2018-05-22 01:56] thinkingserious commented on #414
Hello @michalper,

No. Unfortunately, this is an issue that needs to be addressed in the underlying API.

[2018-05-22 05:32] michalper commented on #414
@thinkingserious is there any option to use that feature using sendgrid/smtpapi ?

We don't want to use version 4.0.4, but for us this is the last one working version.

[2018-05-22 10:55] martijnmelchers commented on #619
My editor is IntellIJ but the docs also state that they need to start with `/**`

You can read that [here](https://docs.phpdoc.org/getting-started/your-first-set-of-documentation.html)

[2018-05-22 17:12] thinkingserious commented on #414
Hello @michalper,

Version 4.0.4 is the last version of this SDK that supports the v2 of the SendGrid API. It will not be deprecated.

I'm not sure if our SMTP API can help, but [we do have an SDK](https://github.com/sendgrid/smtpapi-php) for it.

With Best Regards,

Elmer

[2018-05-22 17:19] thinkingserious commented on #619
Thanks @martijnmelchers!

Not sure why the linter is not catching it, but it definitely is wrong. I'll leave this issue open until we can resolve it.

[2018-05-22 18:13] martijnmelchers commented on #619
I will resolve it!

[2018-05-25 18:53] mookman288 opened #621 "Anonymizing user data on request for GDPR compliance"
#### Issue Summary

After looking through the appropriate GDPR documents and explanations, I was wondering if you had features to implement a method to (or already have an example of how to) anonymize a user's records in SendGrid via the PHP API without deleting the anonymized data.

For instance, pulling out email, first name, last name, etc. but leaving deliverability information.

If not, is th

[2018-05-25 18:55] thinkingserious commented on #621
Hello @mookman288,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-05-25 18:57] mookman288 commented on #621
@thinkingserious This isn't a problem, nor is this a non-library specific issue. Wouldn't this exclusively be covered by the PHP API's functionality on how to purge or anonymize data (that is to say, if I did this via cURL it would be different than PHP, since the PHP API has various support for the full SendGrid API?)

[2018-05-29 15:10] ebranch opened #622 "Variables not populating in template"
####

The problem I running into is when the first email is sent out it's not populating the variables for the template but the second email that is sent out has the variables.

![screenshot_20180524_145304](https://user-images.githubusercontent.com/1250718/40667751-ddebf4fa-6330-11e8-90ca-07cf7e9b38f2.png)
![screenshot_20180524_145304](https://user-images.githubusercontent.com/1250718/40667778-f1

[2018-05-29 15:24] brianmuse commented on #250
We also need this. Really unfortunate that it's not possible at the moment. Some sort of timeline would be great. Seems like low hanging fruit to allow the necessary additional characters.

[2018-05-30 03:10] thinkingserious commented on #621
Thanks for the clarification @mookman288,

I will leave this one open in case one of our all-star community members wants to give a crack at a PR.

I've also placed it on our internal backlog where additional +1's or comments will help it gain priority.

With Best Regards,

Elmer

[2018-05-30 03:30] thinkingserious commented on #622
Hello @ebranch,

When you use the `SendGrid\Mail` constructor, an initial `Personalization` object is created. You can operate on it [like so](https://github.com/sendgrid/sendgrid-php/blob/4d500a972739ef2c596299f3ad822dd231aab4df/examples/helpers/mail/example.php#L32).

I hope that helps!

With Best Regards,

Elmer

[2018-05-30 03:31] thinkingserious commented on #250
Hello @brianmuse,

Thanks for adding your voice to this thread. As soon as I get any kind of timeline internally, I will post it here.

With Best Regards,

Elmer

[2018-05-30 15:15] ebranch commented on #622
Sorry that's not problem, my variables populate on the second email that is sent out. The varables are blank on the first email.

[2018-05-30 17:50] thinkingserious commented on #622
@ebranch,

Do you mind posting your request body, [like this](https://github.com/sendgrid/sendgrid-php/blob/master/TROUBLESHOOTING.md#request-body)? Thanks!

[2018-05-30 20:17] smockensturm opened #623 "macOS Word Attachments Invalid"
#### Issue Summary

Attachments work swell as outlined in the example docs. However, something is getting munged with the mime-type or encoding or something, idk. We cannot open the attachment in macOS Pages, with the message:

#### Steps to Reproduce

1. Attach a docx per the examples.

[code]
mime types found here:
https://stackoverflow.com/questions/4212861/what-is-a-correct-mime-type-for-docx-

[2018-05-30 20:27] martijnmelchers commented on #623
Try `application/vnd.ms-word`

[2018-05-30 20:34] smockensturm commented on #623
Thanks. No change.

[2018-05-30 20:43] martijnmelchers commented on #623
Hmmm, weird it should really work! https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Complete_list_of_MIME_types

[2018-05-30 20:44] martijnmelchers commented on #623
Perhaps the attachment isn't read correctly by your code could you give more code on what comes before and after the snippet you have provided?

[2018-05-30 20:55] smockensturm commented on #623
Sure. Here's the whole bit. Nothing tricky. (I've also tried `application/octet-stream`)

[code]

[2018-05-30 21:02] martijnmelchers commented on #623
Maybe you could verify that `$file_encode` is actually something by decoding on an online website.

[2018-05-30 21:29] J-Gonzalez commented on #579
Also adding a "vote" here as we are trying to implement this but are unable to using Sendgrid. The QuotedPrintable issue is what's causing any Email Markup code to be ignored by Gmail.

[2018-05-31 10:55] smockensturm commented on #623
Changed this line:

`$file_encoded = base64_encode($_FILES["plan-doc"]["tmp_name"]);`

To this:

`$file_encoded = base64_encode(file_get_contents($_FILES["plan-doc"]["tmp_name"]));`

And all is well.

[2018-05-31 14:10] ebranch commented on #622
@thinkingserious

"from":{
   "name":"MatchRX",
   "email":"it@matchrx.com"
},
"personalizations":[
   {
      "to":[
         {
            "name":"Mr.B",
            "email":"eltonsdesign@gmail.com"
         }
      ]
   },
   {
      "to":[
         {
            "name":"Elton",
            "email":"ebranch@matchrx.com"
         }
      ],
      "substitutions":{
         "{{order_id}}":"352698

[2018-05-31 16:17] ebranch commented on #622
@thinkingserious

I have resolved the issue, once I implement my code because i'm behind the ball I will explain the solution. Thank you for your help.

[2018-05-31 23:19] thinkingserious commented on #579
Thanks @J-Gonzalez!

[2018-06-02 15:07] martijnmelchers commented on #623
Glad it could be resolved! 👍

Happy coding!

[2018-06-04 05:38] moismailzai opened #624 "Fix GroupsToDisplay::setGroupsToDisplay's handling of array arguments"
#### Issue Summary

According to the [API docs](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html), `asm.groups_to_display` should be an array of integers.

Several of the examples in this repository show that sendgrid-php is meant to support passing an array to `asm.groups_to_display`:
* https://github.com/sendgrid/sendgrid-php/blob/master/USE_CASES.md references `$email->setAsm(

[2018-06-05 00:34] thinkingserious commented on #622
Thank you @ebranch!

[2018-06-05 01:47] #623 closed

[2018-06-05 01:50] thinkingserious commented on #624
Thank you @moismailzai!

[2018-06-08 15:44] alextech commented on #348
Hope this will help: https://github.com/sendgrid/php-http-client/pull/99

[2018-06-08 19:44] hjamesw93 commented on #608
@thinkingserious Happy to give this a go!

[2018-06-08 19:45] thinkingserious commented on #608
Awesome, thank you @hjamesw93!

[2018-06-11 18:01] thinkingserious commented on #348
That's awesome @alextech, thanks!

[2018-06-12 00:04] thinkingserious commented on #250
Hello Everyone!

I'm SUPER EXCITED to announce that this issue has been resolved and the fix is live in production! Please give it a try and let me know if you run into any further issue.

Thank you for your patience on this one!

With Best Regards,

Elmer

[2018-06-12 00:04] #250 closed

[2018-06-12 08:10] ataraxido commented on #250
Hello @thinkingserious

I just tried and I still get an error ( using the API ) :

{"errors":[{"message":"The attachment type cannot contain ';', or CRLF characters.","field":"attachments.0.type","help":"http://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#message.attachments.type"},{"message":"The attachment type cannot contain ';', or CRLF characters.","field":"attachments.1.type",

[2018-06-12 13:40] Productmind commented on #250
Hi Elmer,

Do you know if there’s a GitHub request open for conditional formatting support in SendGrid emails?

All the best,
Michael

From: Elmer Thomas <notifications@github.com>
Reply-To: sendgrid/sendgrid-php <reply@reply.github.com>
Date: Monday, June 11, 2018 at 5:05 PM
To: sendgrid/sendgrid-php <sendgrid-php@noreply.github.com>
Cc: Michael Buckley <michael@eventsthatflow.com>, Mention <ment

[2018-06-12 14:49] thinkingserious commented on #250
@ataraxido,

Could you please try? `$attachment->setType('text/calendar; method=REQUEST');`

Thanks!

[2018-06-12 23:51] williamconifer opened #627 "401 Unauthorized if posting from web form"
#### Issue Summary

I have successfully installed sendgrid php v3 api via composer on my server while logged in as a server user NOT root. I have set my environmental variable api key and sourced it. I created the "mailer" php code based off your "Send an Email to a Single Recipient" use case. If I run my php code mailertest.php from CLI I get a 202 Accepted - status and an email is received.

If

[2018-06-15 00:58] mstahlmann commented on #425
I tried all of this an nothing is working.

[2018-06-15 00:58] mstahlmann commented on #425
PHP Fatal error:  Uncaught Error: Call to undefined function SendGrid\\Mail\\mb_convert_encoding()

[2018-06-18 12:12] axelay commented on #348
Has the same issue and just needed to download the latest cacert.pem file and making sure the php.ini file referenced it properly.

[2018-06-22 04:05] congnghiakhiem commented on #348
I already sent emaill successfully yesterday. But today it responsed that:
object(SendGrid\Response)#17 (3) {
  ["statusCode":protected]=>
  int(0)
  ["body":protected]=>
  string(0) ""
  ["headers":protected]=>
  array(1) {
    [0]=>
    string(0) ""
  }
}
Can anyone help me ?

[2018-06-22 12:17] gavrichards opened #629 "Sending one email to multiple email addresses without them all appearing in the To line"
We're finally upgrading from SDK v2.8 to v7 🎉

In our wrapper for the old version, we had this which handles sending an email either with single/multiple recipients in the 'To' line, or sending the email separately so each recipient only sees their own address in the To line.

[code]

Is there an equivalent for v7? Or should we instead be sending completely independent emails?

Any help would be a

[2018-06-25 21:58] thinkingserious commented on #425
Hello @mstahlmann,

Have you tried [this](https://stackoverflow.com/a/37441536)? Thanks!

[2018-06-26 00:03] thinkingserious commented on #348
Hello @congnghiakhiem,

I would audit your system to find out what changed from the day it stopped working. Perhaps an upgrade, for example?

[2018-06-26 00:04] thinkingserious commented on #629
Hello @gavrichards,

I think [this is the use case needed](https://github.com/sendgrid/sendgrid-php/blob/master/USE_CASES.md#send-multiple-emails-to-multiple-recipients). Please let me know.

With Best Regards,

Elmer

[2018-06-26 02:17] congnghiakhiem commented on #348
Thank @thinkingserious
I have changed to use python, and sent +20k mails successfully. Therefore, I won't use php again.

[2018-06-27 13:55] mstahlmann commented on #425
I did. Not sure why it is not working
 I’ll double check.

[2018-06-28 10:15] gavrichards commented on #629
Hi Elmer
Is that the same as calling `addTo()` multiple times? I've written a wrapper which does that, but wanted an option to specify the email must be sent individually to each person in the To line.

[2018-06-29 09:27] luffyfr opened #635 "add mail from in personnalisations array"
Hi,
I would like personnalise the mail from in the personnalisation array.

Made something like this :

[code]

instead of

[code]

is there anyway to make this or i must made a loop from each different sender ?

Thanks

#### Issue Summary

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screen

[2018-07-02 08:05] alemadlei-tech commented on #629
@gavrichards , I'm not sure if this will work for you, but what I've been doing is adding personalizations to the mail object.

<code>
  // Previously initializated personalization object.
  $personalization->addTo($to);

  // Adds it to the email.
  $mail->addPersonalization($personalization);

</code>

This way I get the contacts to only see their email address on the message.

[2018-07-02 08:14] alemadlei-tech opened #636 "Sections tag not working"
#### Issue Summary

I have a transactional template with placeholders added in order to use the replacement functionality provided by sections tag.

However, they are not being replaced once the email is sent.

If I instead add them to every recipient by means of having personalization, they work.

#### Steps to Reproduce

[code]

Message is sent, but sections are never replaced in the final email

[2018-07-03 03:45] thinkingserious commented on #425
Hi @mstahlmann,

[Here](http://php.net/manual/en/function.extension-loaded.php) is how you can check if an extension is loaded.

[2018-07-03 17:30] mstahlmann commented on #425
It passes this test for the module in question. I’ll try ythe composer install again

[2018-07-03 21:31] thinkingserious commented on #635
Hello @luffyfr,

It looks like you might be trying to execute [this use case](https://github.com/sendgrid/sendgrid-php/blob/master/USE_CASES.md#multiple-emails-multiple-recipients). Please take a look and let me know what you think.

With Best Regards,

Elmer

[2018-07-03 21:35] thinkingserious commented on #629
Hello @gavrichards,

Please see @alemadlei-tech's response. Thanks!

@alemadlei-tech,

Thanks for taking the time to share your solution!

[2018-07-03 21:37] thinkingserious commented on #636
Hi @alemadlei-tech,

I believe [this is the use case](https://github.com/sendgrid/sendgrid-php/blob/master/USE_CASES.md#transactional-templates) you need.

Please let me know if this solves your issue.

Thanks!

With Best Regards,

Elmer

[2018-07-03 21:45] gavrichards commented on #629
Thanks both, I'll give this a try and report back.

[2018-07-03 21:47] alemadlei-tech commented on #636
Hello,

It doesn't seem to work though.

I have a very basic template. Two replacements.

I'm sending this email with multiple personalization objects.

The template contains things that are specific for each recipient (name, address) but some other things are also variable but common among them (date that is being sent, promotional code).

So, when I send it, section tags are not replaced, only s

[2018-07-03 21:59] thinkingserious commented on #636
Hi @alemadlei-tech,

Are you saying that you have tried the example I posted and it failed? If so, could you please post that code so I can take a look? Thanks!

[2018-07-03 22:02] thinkingserious commented on #425
Thanks @mstahlmann.

[2018-07-04 15:28] ronaldo2018 opened #637 "Returning Error 500"
I'm trying to use sendgrid, but when I send it and it goes to the page where the code from sendgrid returns me error 500, how could I solve this problem?

`<?php
require 'vendor/autoload.php'; // If you're using Composer (recommended)
// Comment out the above line if not using Composer
// require("./sendgrid-php.php");
// If not using Composer, uncomment the above line

$email = new \SendGrid\Mail

[2018-07-04 23:12] bootsie123 commented on #637
The same thing is happening to me. Yesterday everything was completely fine. Now for some reason today I keep getting an HTTP ERROR 500 when trying to use sendGrid. Find any solutions yet?

[2018-07-05 02:02] ronaldo2018 commented on #637
Não há outra solução para isso, estou esperando por uma resposta deles

2018-07-04 20:12 GMT-03:00 bootsie123 <notifications@github.com>:

[2018-07-05 14:33] alvarotrigo opened #638 "Vendor autoload.php doesn't exist?"
I'm getting the following error:

I found these related issues but there's no proper solution offered there: https://github.com/sendgrid/sendgrid-php/issues/407

Why is this vendor not file not included in github??
The [PHP example you guys provide](https://sendgrid.com/docs/Integrate/Code_Examples/v3_Mail/php.html) doesn't even work this way.

[2018-07-05 14:36] martijnmelchers commented on #638
Have you installed it with `composer require`?

[2018-07-05 14:37] alvarotrigo commented on #638
No. The docs say using composer is optional. I'm not familiar with composer and I would rather not use it if I can.
What it doesn't specify is where to get the file when not using composer.

[2018-07-05 14:42] martijnmelchers commented on #638
Although using composer is not required I do really recommend it. It makes updating so much easier and its super easy to use.

But here goes:

If you dont want use composer you need to download the folder as `.zip` and extract it and add:

`require directory/sendgrid-php/loader.php`

[2018-07-05 14:43] alvarotrigo commented on #638
require directory/sendgrid-php/loader.php

Add that where?

[2018-07-05 14:45] alvarotrigo commented on #638
Also, there's no such file "loader.php" in the root folder of sendgrid-php.
Are you talking about the one within the `lib` folder? `lib/loader.php` ?

[2018-07-05 14:48] alvarotrigo commented on #638
Even when replacing:

[code]

For
[code]

I get the following error:

[2018-07-05 15:06] gavrichards commented on #629
@alemadlei-tech @thinkingserious Hi
I've tried this, and this is how my code looks now:

[code]

However I'm receiving this error:

Can you see where I might be going wrong?

[2018-07-05 15:21] alvarotrigo commented on #638
I had to end up using composer...

[2018-07-05 15:23] alvarotrigo opened #639 "Mail not being sent, but returns success?"
I'm using the [V3 example for PHP](https://sendgrid.com/docs/Integrate/Code_Examples/v3_Mail/php.html) provided on the SendGrid API docs.

I'm getting the following response:

  | (
  | [0] => HTTP/1.1 202 Accepted
  | [1] => Server: nginx
  | [2] => Date: Thu, 05 Jul 2018 15:20:11 GMT
  | [3] => Content-Type: text/plain; charset=utf-8
  | [4] => Content-Length: 0
  | [5] => Connection: keep-alive

[2018-07-05 16:08] alemadlei-tech commented on #629
@gavrichards, depending on how you instantiated your mail object, it might contain an empty personalization object.

So, there's a chance your email has 2 personalization objects or more, with the first one with no recipients. Do a print_r() and check the output.

[2018-07-05 16:13] gavrichards commented on #629
@alemadlei-tech It's instantiated like this. I couldn't find any documentation on how to do the personalization object.

[code]

[2018-07-05 16:23] alemadlei-tech commented on #629
@gavrichards,

You should be able to do

````print_r($this->email)``

before sending it and from the output, if i'm not mistaken, you will see that the first item in the personalization contains no recipients.

[2018-07-05 16:42] gavrichards commented on #629
Yes - you're right. In this case, there's 3 personalization objects.
So the first one is provided by default presumably, and then I've added two more. In which case, this approach is probably not going to work.

[code]

[2018-07-05 17:16] alemadlei-tech commented on #629
@gavrichards, yes, but you need to add something to the email in the constructor. Check the constructor logic, you should be able to set the subject for the email and that would cause the personalization object to remain empty.

[2018-07-05 22:54] thinkingserious commented on #637
Hello @ronaldo2018,

Have you tried reading the message, [like this](https://github.com/sendgrid/sendgrid-php/blob/master/TROUBLESHOOTING.md#error)?

Thanks!

With Best Regards,

Elmer

[2018-07-05 23:12] thinkingserious commented on #638
Hi @alvarotrigo,

My apologies, you received that last error because of [this bug](https://github.com/sendgrid/sendgrid-php/pull/634).

I'm glad you were able to get things going with Composer, it's an excellent tool.

With Best Regards,

Elmer

Thanks for helping out @martijnmelchers!

[2018-07-05 23:15] thinkingserious commented on #639
Hi @alvarotrigo,

There are [many reasons your email could have landed in the SPAM folder](https://sendgrid.com/blog/10-tips-to-keep-email-out-of-the-spam-folder). In this case, it may be because of the test data you are using and the age of your account. Try using some semi-realistic data and let me know how it goes.

With Best Regards,

Elmer

[2018-07-05 23:19] thinkingserious commented on #629
Thanks for helping out @alemadlei-tech!

Please let us know if you run into further issues @gavrichards.

[2018-07-06 02:44] ronaldo2018 commented on #637
I tried now to execute the function to correct the error, I went like this:

[code]

Still in continuation, is returning 500 error on the screen, could it be on the default port being used? I need to use 2525 because I'm on DigitalOcean

[2018-07-06 09:43] gavrichards commented on #629
@alemadlei-tech Even if you add the subject to the constructor, you still get an error saying

This is because the first personalization object just contains the subject, and then the other two personalization objects contain a populated `tos` object.

I think ultimately what I set out to do originally isn't going to work with this new SDK. I think it would be best if I reconsidered the approach c

[2018-07-06 10:06] alvarotrigo commented on #638
Thanks for the info!

[2018-07-06 10:06] #638 closed

[2018-07-06 10:07] alvarotrigo commented on #639
Yeap, I notice that.
Thanks for the info!

[2018-07-06 10:07] #639 closed

[2018-07-07 02:31] ronaldo2018 commented on #637
I looked at the log and it is returning this:

2018-07-07 02:22:55.199078 [NOTICE] [198.41.230.20:14741] [STDERR] PHP Fatal error:  Uncaught Error: Class 'SendGrid\Mail\Mail' not found in /home/dominio.com.br/public_html/wp-content/themes/Divi/sistEmail.php:7
Stack trace:
#0 {main}
  thrown in /home/dominio.com.br/public_html/wp-content/themes/Divi/sistEmail.php on line 7

[2018-07-09 17:11] AlexandruI opened #640 "400 Bad Request for almost the same API call that worked previously"
#### Issue Summary

Recently upgraded the API to V3. All the API calls are working as expected, except one that is almost the same as a working one using PHP.

**The working one:**

2018-06-15 09:20:31 Info: Data: SendGrid\Mail Object
(
    [namespace:protected] => SendGrid
    [from] => SendGrid\Email Object
        (
            [name:SendGrid\Email:private] => HYCM
            [email:SendGrid\E

[2018-07-10 09:38] hyralph commented on #640
This was resolved by explicitly setting each substitution's value to String.
My suggestion would be to do that on the php library's model level to prevent it from happening to others

[2018-07-10 22:53] thinkingserious commented on #629
Thanks for sharing your solution @gavrichards!

I think [this is the function you need](https://github.com/sendgrid/sendgrid-php/blob/master/lib/mail/Mail.php#L1418) for global custom arguments.

[2018-07-10 22:55] gavrichards commented on #629
@thinkingserious Thanks - so the explanation comment on `addCustomArg` is incorrect?

[2018-07-10 23:00] thinkingserious commented on #629
Yes, thanks for catching that! I'm going to classify this issue as a bug and put on our backlog for a fix. For this issue to gain priority in our backlog, we need additional +1's or a PR. When we receive a PR, that provides the biggest jump in priority.

[2018-07-10 23:01] gavrichards commented on #629
Thanks @thinkingserious :)

[2018-07-10 23:04] thinkingserious commented on #637
Hi @ronaldo2018,

Could you please tell me how you installed the SDK? Thanks!

With Best Regards,

Elmer

[2018-07-11 13:35] abhishekpwebdev opened #641 "Hello,"
#### Issue Summary

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, code examples.

#### Steps to Reproduce

1. This is the first step
2. This is the second step
3. Further steps, etc.

Any other information you want to share that is relevant to the issue being reporte

[2018-07-11 13:35] #641 closed

[2018-07-11 13:41] abhishekpwebdev opened #642 "hello, i am trying to integrate sendgrid with my google app engine php project . I had followed the google official documentation . But i am getting an server 500 error"
#### Issue Summary

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, code examples.

#### Steps to Reproduce

1. This is the first step
2. This is the second step
3. Further steps, etc.

Any other information you want to share that is relevant to the issue being reporte

[2018-07-11 13:42] abhishekpwebdev commented on #642
here is my code,
if($_SERVER["REQUEST_METHOD"] == "POST"){
// using SendGrid's PHP Library
// https://github.com/sendgrid/sendgrid-php
require 'vendor/autoload.php'; // If you're using Composer (recommended)
// Comment out the above line if not using Composer
// require("./sendgrid-php.php");
// If not using Composer, uncomment the above line

    $sendgridSender = getenv('SENDGRID_SENDER');
    $

[2018-07-12 12:26] abhishekpwebdev opened #643 "integrating the sendgrid with php on nginx server . getting the HTTP/1.1 401 UNAUTHORIZED error."
#### Issue Summary

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, code examples.

#### Steps to Reproduce

1. This is the first step
2. This is the second step
3. Further steps, etc.

Any other information you want to share that is relevant to the issue being reporte

[2018-07-12 12:29] abhishekpwebdev commented on #643
i am getting this error --
HTTP/1.1 401 UNAUTHORIZED [1] => Server: nginx [2] => Date: Thu, 12 Jul 2018 12:22:31 GMT [3] => Content-Type: application/json [4] => Content-Length: 62 [5] => Connection: keep-alive [6] => Access-Control-Allow-Methods: HEAD, GET, OPTIONS, DELETE [7] => Access-Control-Max-Age: 21600 [8] => Access-Control-Expose-Headers: Link, Location [9] => Access-Control-Allow-Origin:

[2018-07-12 14:11] martijnmelchers commented on #643
No offense but have you even read the error you got?
It clearly states that authorization is required, your Sendgrid API key is either invalid or has no value.

[2018-07-12 14:15] abhishekpwebdev commented on #643
@martijnmelchers
yup i had resolved that issue but i am getting this kind of error now

200 Array ( [0] => HTTP/1.1 200 OK [1] => Server: nginx [2] => Date: Thu, 12 Jul 2018 14:00:19 GMT [3] => Content-Type: application/json [4] => Transfer-Encoding: chunked [5] => Connection: keep-alive [6] => Access-Control-Allow-Methods: HEAD, GET, OPTIONS, DELETE [7] => Access-Control-Max-Age: 21600 [8] => Acc

[2018-07-12 14:17] abhishekpwebdev commented on #643
@martijnmelchers yup i had resolved that issue but i am getting this kind of error now

200 Array ( [0] => HTTP/1.1 200 OK [1] => Server: nginx [2] => Date: Thu, 12 Jul 2018 14:00:19 GMT [3] => Content-Type: application/json [4] => Transfer-Encoding: chunked [5] => Connection: keep-alive [6] => Access-Control-Allow-Methods: HEAD, GET, OPTIONS, DELETE [7] => Access-Control-Max-Age: 21600 [8] => Acc

[2018-07-12 14:33] martijnmelchers commented on #643
That is because your code:
[code]

You are getting the bounces, you are not sending an email. (check the first line after `try {`

[2018-07-12 21:45] thinkingserious commented on #642
Hi @abhishekpwebdev,

Were you able to resolve the issue?

Thanks!

With Best Regards,

Elmer

[2018-07-12 21:46] thinkingserious commented on #643
Thanks for helping out @martijnmelchers!

@abhishekpwebdev,

Please let me know if you are still having issues.

[2018-07-13 06:08] abhishekpwebdev commented on #643
Thanks, for Helping @martijnmelchers
i am noiw able to send test email but when i try to customize the code then it throws error like this

Fatal error: Class 'SendGrid\Email' not found in /opt/lampp/htdocs/sendgrid/index.php on line 641

here is my code

<?php

    require 'vendor/autoload.php';

$API_KEY =  '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';

    $FROM_EMAIL

[2018-07-13 06:13] abhishekpwebdev commented on #643
thanks for helping @martijnmelchers

I am now able to send a test email but when i try to customize the code according to my requirement i am getting the error like this

Fatal error: Class 'SendGrid\Email' not found in /opt/lampp/htdocs/sendgrid/index.php

here is my code

  <?php

    require 'vendor/autoload.php';

    $API_KEY =  'SG.w1W4ffxqTQy6_7TJqmYGSA.qfsKKfZ9XPH5qUPnoo7yyxuGSzCbDYb4WwWqR

[2018-07-13 08:16] martijnmelchers commented on #643
You might have to include the following statement at the top:

[code]

[2018-07-13 08:34] abhishekpwebdev commented on #643
thanks, @martijnmelchers  for responding
I tried to integrate with the third solution mentioned by you
$mail = new \Sendgrid\Mail\Mail();
but I am getting the error.
Fatal error: Class 'Sendgrid\Mail\Mail' not found

code-
    $subject = "test";
    $from = new \Sendgrid\Mail\Mail(null, $FROM_EMAIL);
    $to =new \Sendgrid\Mail\Mail(null, $TO_EMAIL);
    $htmlContent = '';

    $content = new Send

[2018-07-13 08:48] martijnmelchers commented on #643
This code should work:
**Only for the `Sendgrid/Sendgrid` library version 7.0.0 or up!**

[code]

[2018-07-13 08:50] martijnmelchers commented on #643
Also: you should re-open this issue (should be right next to the comment button)

[2018-07-17 10:23] nomoreboredom commented on #637
I do experience same issue, i am not using composer. Just adding using a relative path ```require("./libs/sendgrid-php/sendgrid-php.php");```

[2018-07-17 10:38] nomoreboredom commented on #637
Found the issue for me, the package should be downloaded from here:
https://github.com/sendgrid/sendgrid-php.
Not sure from where I downloaded it first, but the correct one has additionally a docker folder, and some files.

[2018-07-19 18:18] richgcook opened #644 "Provide solution for "Class 'SendGrid\Client' not found" error, which occurs when files are missing"
I am getting the following error on form submission

`Class 'SendGrid\Client' not found`

I am upgrading from v2 to v3 (v2 worked fine) and I am not using composer.

Any thoughts?

[code]

I am using PHP 7.1 and latest commit 2889b96 (although as I am not using composer I had to add the following push requests: https://github.com/sendgrid/sendgrid-php/pull/633

[2018-07-19 18:43] martijnmelchers commented on #644
V3 API or V3 lib? If if is the library you should use v7 and use composer

[2018-07-19 18:47] richgcook commented on #644
It's v3, sorry. Composer is optional. I can use it but if I don't have to... ;)

[2018-07-19 18:57] martijnmelchers commented on #644
The bug will be fixed in a future release. I'd recommend using composer. I was anti composer until I started using it. Let me know if you run in to any more problems

[2018-07-24 00:48] thinkingserious commented on #643
Hello @abhishekpwebdev,

Could you please let me know how you are installing the SDK? Thanks!

With Best Regards,

Elmer

[2018-07-24 00:56] thinkingserious commented on #637
Hi @nomoreboredom,

Yes, that is the correct link, thanks for clarifying the issue.

@ronaldo2018,

Have you downloaded the code from this link? https://github.com/sendgrid/sendgrid-php

[2018-07-24 01:02] thinkingserious commented on #644
Hello @richgcook,

Could you please share where you downloaded the SDK? Thanks!

With Best Regards,

Elmer

[2018-07-24 09:33] richgcook commented on #644
@thinkingserious Thanks for the reply. I downloaded it from this Github repo.

[2018-07-24 15:53] sendgrid-ryan commented on #200
Hey all! Great news––

### Dynamic content for Transactional Templates is here!
This morning, our team publicly launched dynamic content for transactional templates. It is now available for all customers sending over v3 of our Mail Send API. Iterate over lists, handle conditionals and more, thanks to native support for a subset of Handlebars syntax!

More information can be found in our [blog post

[2018-07-24 20:51] thinkingserious commented on #644
@richgcook,

Was it from here: https://github.com/sendgrid/sendgrid-php/releases

Particularly, the "sendgrid-php.zip" file?

[2018-07-24 20:53] richgcook commented on #644
@thinkingserious It wasn't – I simply downloaded the repo via the 'Clone or download' button.

[2018-07-24 20:56] thinkingserious commented on #644
Ah, that method does not work because I have to add in additional files. I wish I could disable the default download button :(

In your opinion, how could we make that clearer?

[2018-07-24 21:32] richgcook commented on #644
@thinkingserious Hmm I actually think I may have downloaded it via the package link... looking at the README.md I'm sure I wouldn't have missed that.

[2018-07-25 13:31] harshit-jalhotra opened #645 "emails are not going to cc email address"
Hello,

We are using sendgrid library to sending emails. We are able to send emails to email addresses in "To" however sendgrid is not sending emails to email addresses in "cc". It is showing email address in cc but not sending emails.

I tried sending emails using codeigniter library with sendgrid credentials and it works perfectly.

Kindly help.

[2018-07-25 14:31] martijnmelchers commented on #644
@thinkingserious Maybe you could add a line in the top of the manual load file which checks if the files that are required for the library to work are present. If not throw an error with a link on how to solve it.

[2018-07-25 20:49] thinkingserious commented on #645
Hello @harshit-jalhotra,

To further assist, could you please provide the following information:

1. What version of this SDK are you using and how did you install it?
2. Please provide the relevant source code

Thanks!

With Best Regards,

Elmer

[2018-07-25 20:50] thinkingserious commented on #644
That is an excellent idea @martijnmelchers! I've updated the title on this issue to reflect your idea.

[2018-07-26 06:28] evilsempire opened #646 "Getting wrong stats for delivered and requested in sendgrid API"
I am using [v3 sendgrid api](https://sendgrid.api-docs.io/v3.0/categories/retrieve-email-statistics-for-categories) of categories to get the stats for my emails.

For example: (I am sending emails to 14 people which are under 1 category and through API as well as using sendgrid dashboard)
1.Stats using API (Email sent via API):
When I retrieve data using API I am getting delivered and requests wro

[2018-07-26 09:58] Premasanthakumar opened #647 "Personalization not adding properly"
When i add personalization and sent the mail to many different users the personalization never gets added.

[2018-07-26 18:44] thinkingserious opened #648 "Add Dynamic Template Support"
#### Issue Summary

On 7/24/2018, our team publicly launched dynamic content for transactional templates. It is now available for all customers sending over v3 of our Mail Send API. Iterate over lists, handle conditionals and more, thanks to native support for a subset of Handlebars syntax!

More information can be found in our [blog post announcement](https://sendgrid.com/blog/how-to-use-sendgrid

[2018-07-26 21:11] Ridder90 opened #649 "Build smtp request to send to Mailhog"
I know this is a SDK for the web API. But can it be possible to build an  `\SendGrid\Mail\Mail` object and send it to a mailcatcher like Mailhog? I have some complex group mailings and it would be really handy to properly test e-mail on staging and development environments without burning the domain reputation.

This would be something I am looking for. Or is there a more appropriated approach?
[c

[2018-07-26 21:27] #646 closed, assigned to nobody

[2018-07-26 21:30] thinkingserious commented on #647
Hello @Premasanthakumar,

Do you mind sharing the relevant source code so that I may try to reproduce?

With Best Regards,

Elmer

[2018-07-26 21:46] thinkingserious commented on #649
Perhaps [this SDK](https://github.com/sendgrid/smtpapi-php) is what you need. Check it out and let me know. Thanks!

[2018-07-27 04:39] Premasanthakumar commented on #647
import java.io.IOException;

import com.sendgrid.Content;
import com.sendgrid.Email;
import com.sendgrid.Mail;
import com.sendgrid.Method;
import com.sendgrid.Personalization;
import com.sendgrid.Request;
import com.sendgrid.Response;
import com.sendgrid.SendGrid;

public class Welcome {
	public static void emailSendForRegister(String toUsername,String name,String custId) {
    	Email from = new E

[2018-07-27 08:14] martijnmelchers commented on #647
This is not a PHP related issue. You should file your issue over at the [sendgrid-java](https://github.com/sendgrid/sendgrid-java/issues)  repository

[2018-07-27 08:34] martijnmelchers commented on #648
I will try to do this, can you assign me to this issue?

[2018-07-27 14:22] yadounis opened #650 "502 bad gateway"
#### Issue Summary

I get a 502 bad getway reponse

#### What's wrong with my code ?

[code]

#### Technical details:

* sendgrid-php Version: master
* PHP Version:  7.1 (as of May 17, 2018)

[2018-07-27 16:35] Ridder90 commented on #649
Thanks! I think that this could probably work. However I just updated to v7.0.0 and updated my code accordingly. I really like the personalization API:
[code]
Change it back to the below example really feels like a step backwards.
[code]
I think I will stick with this SDK then. If you have any other suggestions on testing with this SDK I will be glad to here them. Else you could close this issue.

[2018-07-27 18:17] martijnmelchers commented on #650
What does `dd()` do? It seems to be an issue over at Sendgrid since 502 is not a response it should return in normal cases

[2018-07-27 18:54] yadounis commented on #650
@martijnmelchers dd() is just a wrapper for var_dump(). So i should send a support message to sendgrid ?

[2018-07-27 18:58] martijnmelchers commented on #650
Is the error still happening?

[2018-07-27 18:59] martijnmelchers commented on #650
If so, the error is described [here](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html) as an issue at Sendgrid. You should try to email them

[2018-07-27 19:04] yadounis commented on #650
Ok @martijnmelchers, i just issued a support request, waiting for their answer

[2018-07-27 19:05] thinkingserious commented on #648
That's fantastic @martijnmelchers!

I can't assign people to issues who are outside of the SendGrid org, so I've simply marked it as "status: work in progress".

[2018-07-27 19:08] martijnmelchers commented on #650
Cool :)

[2018-07-28 10:10] martijnmelchers commented on #648
@thinkingserious Could you merge PR #620 so I won't get conflicts and I can use the continue to use the improved PHPDocs?

[2018-07-28 21:09] hjmsw commented on #617
Pull request submitted. Macros came in handy here! :)

[2018-07-28 23:16] hjmsw commented on #612
I can have a look at this :)

[2018-07-30 12:08] koenreiniers commented on #650
@yadounis I had the same issue. I fixed it by inserting an instance of `From` immediately in the constructor. This prevents an empty instance of `Personalization` from being added, which causes the 502 bad gateway error. So, in your case:

`new Mail(new From('noreply@domain.com, 'AppName'));`

Also: You will probably run into the "Substitutions may not be used with dynamic templating" error next,

[2018-07-30 14:19] KenjiDeguchi opened #653 "Class not found"
Hello, i'm having trouble to setup a sendgrid form on a website. Getting error-> PHP Fatal error:  Uncaught Error: Class 'SendGrid\Mail' not found in /app/contact.php:14.

This is my contact.php code:

[code]

This is my composer.json code:
[code]

It also happened when i tried to use Sendgrid\Email. Is there something wrong with the code?

[2018-07-30 23:07] thinkingserious commented on #653
Hello @KenjiDeguchi,

Can you please check if the relative path is correct here: `require 'vendor/autoload.php';`?

Also, please be sure to run `composer install` on the server where the code is running.

Thanks!

With Best Regards,

Elmer